<header class="header">
  <h1><a href={"/#{@topic.url_slug}"} rel="bookmark"><%= raw @topic.title_html %></a></h1>
  
  <%= if Enum.count(@topic.tags) > 0 do %>
    <p>
      <span class="vh">Tagged with:</span>
      <%= for tag <- @topic.tags do %>
        <a href={"/tags/#{tag}"} rel="tag"><%= tag %></a>
      <% end %>
    </p>
  <% end %>
</header>
