<nav aria-labelledby="recipe-breadcrumb-nav-label" class="breadcrumb" id="recipe-breadcrumb">
  <p><span id="recipe-breadcrumb-nav-label">Breadcrumb</span> navigation:</p>
  <ol>
    <li><a href="/wiki">Wiki</a></li>
    <li><a href="/travel">Food</a></li>
    <li><a href="/trips">Pizza</a></li>
    <li><a aria-current="page" href="/scotland-2018">Pizza Bianca</a></li>
  </ol>
</nav>
