<figure id="recipe-photo">
  <picture>
    <source
      sizes="386px"
      srcset="https://f000.backblazeb2.com/file/jeremyboles-com/recipe_picture@772w.jpg 772w, https://f000.backblazeb2.com/file/jeremyboles-com/recipe_picture@386w.jpg 386w"
      type="image/jpeg"
    />
    <img alt="Two pizzas that I made for my family" class="u-photo" src="https://f000.backblazeb2.com/file/jeremyboles-com/recipe_picture@386w.jpg" />
  </picture>
</figure>
