<nav aria-labelledby="topic-breadcrumb-nav-label" class="breadcrumb" id="topic-breadcrumb">
  <p><span id="topic-breadcrumb-nav-label">Breadcrumb</span> navigation:</p>
  <ol>
    <li><a href="/wiki">Wiki</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a href="/trips">Trips</a></li>
    <li><a aria-current="page" href="/scotland-2018">Scotland, 2018</a></li>
  </ol>
</nav>
