<header id="topic-header">
  <h2><a href="/" rel="bookmark">Trip to Scotland, 2018</a></h2>
  <p>
    <span>Tagged with:</span>
    <a href="/tags/trip" rel="tag">trips</a>
    <a href="/tags/scotland" rel="tag">scotland</a>
    <a href="/tags/kids" rel="tag">kids</a>
    <a href="/tags/europe" rel="tag">europe</a>
  </p>
</header>
