<footer class="footer" id="topic-footer">
  <figure>
    <figcaption>
      <p>
        The topic <i>Trip to Scotland, 2018</i> was created <time>eleven months ago</time> in <a href="/map/dfasdf">Springfield, MO, United States</a>.
        It’s currently considered a <b><i>seedling topic</i></b> and has been updated three times, the last time being <time>two days ago</time>, also from <a href="/map/dfasdf">Springfield, MO, United States</a>.
      </p>
    </figcaption>
  </figure>
</footer>
