<article>
  <.section_header title="My Personal Wiki">
    Here are all of the topics that I’ve collected information about so far. I thought
    it would be neat to collect my own thoughts about the things I do and then store
    them in one place where I can link everything together. Nearly everything on my
    website is attached to a wiki topic in one way or another.
  </.section_header>
  <section>
    <.nested_list/>
  </section>
</article>