<div>
  <%= render("_recipe_breadcrumb.html") %>
  <article class="h-recipe">
    <%= render("_recipe_header.html") %>
    <%= render("_recipe_photo.html") %>
    <%= render("_recipe_content.html") %>
    <%= render("_recipe_supplementary.html") %>
    <%= render("_recipe_journal.html") %>
    <%= render("_recipe_essays.html") %>
    <%= render("_recipe_footer.html") %>
  </article>
</div>
