<div>
  <div>
    <%= render "_breadcrumbs.html", ancestors: @ancestors, article: @article %>
    
    <article>
      <%= render "_header.html", article: @article %>
      <%= render "_content.html", article: @article, table_of_contents: false %>
      
      <%= render "_journal.html" %>
      <%= render "_supplementary.html" %>
      <%= render "_essays.html" %>
      <%= render "_footer.html", article: @article %>
    </article>
  </div>

  <%= render "_related.html" %>
</div>
