<div>
  <div>
    <.breadcrumbs />

    <article>
      <.header />
      <.content />
      <.journal />
      <.supplementary />
      <.essays />
      <.footer />
    </article>
  </div>

  <.related />
</div>
