@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Journal container
// -----------------------------------------------------------------------------------------------

.journal h3 {
  display: none;
}

//
// Journal entry
// -----------------------------------------------------------------------------------------------

.journal article {
  --background-color: #{palette.stone($lightness: 89%)};
  --border-color: #{palette.stone($lightness: 82%)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 11%)};
    --border-color: #{palette.stone($lightness: 22%)};
  }

  background-color: var(--background-color);
  border: var(--border-color) solid 1px;
  display: flex;
  flex-direction: column;
  position: relative;

  &:first-of-type {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }

  &:last-of-type {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }

  &:not(:first-of-type) {
    border-top-width: 0;
  }
}

//
// Metadata
// -----------------------------------------------------------------------------------------------

.journal article > p {
  @include fonts.mono;
  @include rhythm.font-size(-2);

  --color: #{palette.stone($lightness: 28%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 80%)};
  }

  color: var(--color);
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: -1px;
  margin-left: #{rhythm.fragments(2, -2)};
  margin-right: #{rhythm.fragments(2, -2)};
  margin-top: -1px;
  padding-bottom: #{rhythm.fragments(1, -2)};
  padding-top: #{rhythm.fragments(1, -2)};
  order: 2;

  // prettier-ignore
  a[href='/'], span:not([class]) {
    display: none;
  }

  time::before,
  .p-location::after {
    --color: #{palette.stone($lightness: 58%)};
    --size: 2ch;

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 74%)};
    }

    background-color: var(--color);
    content: '';
    display: inline-block;
    height: var(--size);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    vertical-align: middle;
    transform: translateY(-0.125ch);
    width: var(--size);
  }

  time::before {
    margin-right: 1ch;
    mask-image: url('/images/fa/regular/clock.svg');
  }

  .p-location::after {
    margin-left: 1ch;
    mask-image: url('/images/fa/regular/earth-americas.svg');
  }
}

.journal article.bookmark > p,
.journal article.checkin > p,
.journal article.note > p,
.journal article.quote > p,
.journal article.video > p {
  border-top: var(--border-color) solid 1px;
}

//
// Entry icon
// -----------------------------------------------------------------------------------------------

.journal article > p a[href^='/journal'] {
  --background-color: #{palette.stone($lightness: 68%)};
  --size: #{rhythm.fragments(6, -2)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 24%)};
  }

  background-color: var(--background-color);
  border-radius: var(--size);
  height: 0;
  left: calc(var(--size) / 2);
  overflow: hidden;
  padding-top: var(--size);
  position: absolute;
  top: calc(var(--size) / 2);
  width: var(--size);
  z-index: 999;

  &:hover {
    --background-color: #{palette.stone($lightness: 28%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 32%)};
    }
  }

  &::before {
    --color: #{palette.stone($lightness: 94%)};
    --size: #{rhythm.fragments(3, -2)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 82%)};
    }

    background-color: var(--color);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: var(--size) var(--size);
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.journal article.photo > p a[href^='/journal'],
.journal article.video > p a[href^='/journal'] {
  --background-color: #{palette.stone($alpha: 0.75, $lightness: 8%)};

  &:hover {
    --background-color: #{palette.stone($alpha: 0.6, $lightness: 8%)};
  }
}

.journal article.bookmark > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/bookmark.svg');
}

.journal article.checkin > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/location-dot.svg');
}

.journal article.note > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/memo.svg');
}

.journal article.photo > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/camera-retro.svg');
}

.journal article.quote > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/quote-left.svg');
}

.journal article.video > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/clapperboard-play.svg');
}

//
// Entry content container
// -----------------------------------------------------------------------------------------------

.journal article > blockquote {
  --color: #{palette.stone($lightness: 14%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 70%)};
  }

  color: var(--color);
  order: 1;
}

//
// Bookmark entry
// -----------------------------------------------------------------------------------------------

.journal article.bookmark > blockquote {
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};

  p:first-of-type {
    // @include colors.modes(stone 800, stone 200);
    @include fonts.mono;
    @include rhythm.font-size(-2);

    font-weight: 700;
    padding-bottom: #{rhythm.fragments(2, -2)};

    a {
      --color: inherit;
      --text-decoration-color: transparent;

      color: var(--color);
      display: -webkit-box;
      overflow: hidden;
      text-decoration-color: var(--text-decoration-color);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    a:link:hover {
      --color: #{palette.blue($lightness: 38%)};
      --text-decoration-color: #{palette.blue($lightness: 56%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.blue($lightness: 68%)};
        --text-decoration-color: #{palette.blue($lightness: 52%)};
      }
    }

    a:visited:hover {
      --color: #{palette.purple($lightness: 38%)};
      --text-decoration-color: #{palette.purple($lightness: 56%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.purple($lightness: 82%)};
        --text-decoration-color: #{palette.purple($lightness: 26%)};
      }
    }

    // prettier-ignore
    a:hover:active {
      --color: #{palette.red($lightness: 38%)};
      --text-decoration-color: #{palette.red($lightness: 48%)};
    
      @media (prefers-color-scheme: dark) {
        --color: #{palette.red($lightness: 58%)};
        --text-decoration-color: #{palette.red($lightness: 60%)};
      }
    }
  }

  p:not(:first-of-type) {
    // @include colors.modes(stone 600, stone 300);
    @include fonts.serif;
    @include rhythm.font-size(-1);

    font-weight: 350;
  }
}

//
// Check-in entry
// -----------------------------------------------------------------------------------------------

.journal article.checkin > blockquote {
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};

  & p:first-of-type {
    @include fonts.sans;
    @include rhythm.font-size(0);

    --color: #{palette.stone($lightness: 22%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 76%)};
    }

    color: var(--color);

    font-weight: 650;
    padding-bottom: #{rhythm.fragments(2)};
  }

  & p:not(:first-of-type) {
    @include fonts.serif;
    @include rhythm.font-size(0);

    --color: #{palette.stone($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 73%)};
    }

    color: var(--color);
    font-weight: 350;
  }
}

//
// Note entry
// -----------------------------------------------------------------------------------------------

.journal article.note > blockquote {
  @include fonts.serif;
  @include rhythm.font-size(0);

  font-weight: 300;
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};
}

//
// Photo entry
// -----------------------------------------------------------------------------------------------

.journal article.photo > blockquote {
  position: relative;

  figcaption {
    @include fonts.serif;
    @include rhythm.font-size(-1);

    --background-image: linear-gradient(
      #{palette.stone($alpha: 0, $lightness: 8%)},
      #{palette.stone($alpha: 0.5, $lightness: 8%)},
      #{palette.stone($alpha: 0.75, $lightness: 8%)},
      #{palette.stone($alpha: 0.85, $lightness: 8%)}
    );
    --text-shadow-color: #{palette.stone($alpha: 0.15, $lightness: 18%)};

    background-image: var(--background-image);
    bottom: 0;
    color: #{palette.stone($lightness: 78%)};
    display: flex;
    font-weight: 500;
    left: 0;
    justify-content: center;
    padding-bottom: #{rhythm.fragments(2, -1)};
    padding-left: #{rhythm.fragments(2, -1)};
    padding-right: #{rhythm.fragments(2, -1)};
    padding-top: #{rhythm.fragments(10, -1)};
    position: absolute;
    right: 0;
    text-shadow: 0 0 #{rhythm.em(4px)} var(--text-shadow-color);
  }

  picture {
    max-height: #{rhythm.lines(10)};
    overflow: hidden;
    z-index: 1;
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    width: 100%;
  }
}

//
// Quote entry
// -----------------------------------------------------------------------------------------------

.journal article.quote > blockquote {
  @include fonts.serif;
  @include rhythm.font-size(0);

  font-weight: 300;
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};

  blockquote {
    font-style: italic;
  }

  figcaption {
    @include fonts.sans;
    @include rhythm.font-size(-1);

    --color: #{palette.stone($lightness: 28%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 80%)};
    }

    color: var(--color);
    font-weight: 700;
    padding-top: #{rhythm.fragments(2, -1)};

    cite {
      font-style: italic;
      font-weight: 500;
    }
  }
}

//
// Photo entry
// -----------------------------------------------------------------------------------------------

.journal article.video > blockquote {
  video {
    min-width: 100%;
    max-height: #{rhythm.lines(10)};
    max-width: 100%;
    object-fit: cover;
  }

  figure {
    position: relative;
  }

  figcaption {
    @include fonts.serif;
    @include rhythm.font-size(-1);

    display: flex;
    font-weight: 300;
    justify-content: center;
    padding-bottom: #{rhythm.fragments(2, -1)};
    padding-left: #{rhythm.fragments(2, -1)};
    padding-right: #{rhythm.fragments(2, -1)};
  }
}
