@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Recipe header container
// -------------------------------------------------------------------------------------------------

#recipe-header {
  grid-area: header;
}

//
// Recipe name/title
// -----------------------------------------------------------------------------------------------

#recipe-header h2 {
  @include fonts.sans;
  @include rhythm.font-size(3, $line-height: 8);

  font-weight: 800;
  max-width: 72ch;
  overflow-wrap: break-word;

  a {
    --color: #{palette.stone($lightness: 12%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 88%)};
    }

    color: var(--color);
    text-decoration: none;
  }

  a:hover {
    --color: #{palette.yellow($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.yellow($lightness: 62%)};
    }
  }
}

//
// List of tags
// -----------------------------------------------------------------------------------------------

#recipe-header p:first-of-type {
  @include fonts.mono;
  @include rhythm.font-size(-2, 6);

  display: flex;
  font-style: italic;
  font-weight: 600;
  gap: #{rhythm.fragments(2, -2)};
  padding-bottom: #{rhythm.fragments(2, -2)};

  span {
    display: none;
  }

  a {
    --color: #{palette.stone($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 72%)};
    }

    color: var(--color);
    text-decoration: none;
  }

  a:hover {
    --color: #{palette.orange($lightness: 44%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.orange($lightness: 60%)};
    }
  }

  a::before {
    --color: #{palette.stone($lightness: 62%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 38%)};
    }

    content: '#';
    color: var(--color);
  }

  a:hover::before {
    --color: #{palette.orange($lightness: 44%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.orange($lightness: 44%)};
    }
  }
}

//
// Recipe description
// -----------------------------------------------------------------------------------------------

#recipe-header p:not(:first-of-type) {
  @include fonts.sans;
  @include rhythm.font-size(0);

  --color: #{palette.stone($lightness: 32%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 76%)};
  }

  color: var(--color);
  font-weight: 400;
  max-width: 72ch;
  padding-top: #{rhythm.lines(1)};
}

//
// Recipe yield
// -----------------------------------------------------------------------------------------------

#recipe-header p:last-of-type {
  @include fonts.sans;
  @include rhythm.font-size(-2);

  --color: #{palette.stone($lightness: 46%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 62%)};
  }

  color: var(--color);
  font-weight: 800;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
