@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Recipe content
// -----------------------------------------------------------------------------------------------

#recipe-content {
  --border-color: #{palette.stone($lightness: 82%)};
  --border-width: 1px;

  @media (prefers-color-scheme: dark) {
    --border-color: #{palette.stone($lightness: 28%)};
  }

  border-top: var(--border-color) solid var(--border-width);
  grid-area: content;
  margin-bottom: calc(var(--border-width) * -1);
  padding-top: #{rhythm.lines(1)};

  @include layout.four-column {
    column-gap: var(--layout-gap);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}

//
// Ingredient list
// -----------------------------------------------------------------------------------------------

#recipe-content ul {
  grid-column: 1 / span 3;
  list-style: none;

  li {
    @include fonts.sans;
    @include rhythm.font-size(-1);

    --color: #{palette.stone($lightness: 22%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 88%)};
    }

    color: var(--color);
    font-weight: 700;
    padding-bottom: #{rhythm.fragments(2)};
    padding-left: 2ch;
    text-indent: -2ch;

    i {
      --color: #{palette.stone($lightness: 36%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 76%)};
      }

      color: var(--color);
      font-weight: 400;
      font-style: normal;
    }
  }
}

//
// Recipe steps
// -----------------------------------------------------------------------------------------------

#recipe-content ol {
  grid-column: 4 / span 4;

  li {
    @include fonts.serif;
    @include rhythm.font-size(0);

    --color: #{palette.stone($lightness: 18%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 82%)};
    }

    color: var(--color);
    font-weight: 300;
    list-style-position: inside;
    padding-bottom: #{rhythm.fragments(2)};
  }

  li::marker {
    @include rhythm.font-size(-1);
    @include fonts.sans;

    color: #{palette.stone($lightness: 36%)};

    @media (prefers-color-scheme: dark) {
      color: #{palette.stone($lightness: 56%)};
    }

    font-variant-numeric: tabular-nums;
    font-weight: 850;
  }
}

//
// Links
// -----------------------------------------------------------------------------------------------

#recipe-content {
  a {
    color: var(--color);
    text-decoration-color: var(--text-decoration-color);
  }

  a:link {
    --color: #{palette.blue($lightness: 46%)};
    --text-decoration-color: #{palette.blue($lightness: 72%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.blue($lightness: 66%)};
      --text-decoration-color: #{palette.blue($lightness: 28%)};
    }

    &:hover {
      --color: #{palette.blue($lightness: 38%)};
      --text-decoration-color: #{palette.blue($lightness: 56%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.blue($lightness: 68%)};
        --text-decoration-color: #{palette.blue($lightness: 52%)};
      }
    }
  }

  a:visited {
    --color: #{palette.purple($lightness: 42%)};
    --text-decoration-color: #{palette.purple($lightness: 72%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.purple($lightness: 62%)};
      --text-decoration-color: #{palette.purple($lightness: 26%)};
    }

    &:hover {
      --color: #{palette.purple($lightness: 38%)};
      --text-decoration-color: #{palette.purple($lightness: 56%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.purple($lightness: 82%)};
        --text-decoration-color: #{palette.purple($lightness: 26%)};
      }
    }
  }

  // prettier-ignore
  a:active, a:hover:active {
    --color: #{palette.red($lightness: 38%)};
    --text-decoration-color: #{palette.red($lightness: 48%)};
  
    @media (prefers-color-scheme: dark) {
      --color: #{palette.red($lightness: 58%)};
      --text-decoration-color: #{palette.red($lightness: 60%)};
    }
  }

  a:not([href^='http:']):not([href^='https:']) {
    --color: #{palette.yellow($lightness: 26%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.yellow($lightness: 86%)};
    }

    text-decoration: none;
  }

  a:not([href^='http:']):not([href^='https:']):hover {
    --color: #{palette.yellow($lightness: 36%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.yellow($lightness: 62%)};
    }
  }
}
