@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Essays container
// -----------------------------------------------------------------------------------------------

// Is also '.essays' (wiki/_common_essays.scss) in the markup.
#recipe-essays {
  display: grid;
  gap: var(--layout-gap);
  grid-area: essays;
  grid-auto-rows: 1fr;

  @include layout.sixteen-column {
    grid-template-columns: repeat(2, 1fr);
  }
}
