@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Wiki content container
// -----------------------------------------------------------------------------------------------

#topic-content {
  grid-area: content;
}

//
// Table of contents
// -----------------------------------------------------------------------------------------------

#topic-content > nav {
  @include fonts.sans;
  @include rhythm.font-size(-1);

  padding-bottom: #{rhythm.lines(2, -1)};

  &::after {
    --background-color: #{palette.stone($lightness: 66%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 42%)};
    }

    background-color: var(--background-color);
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto;
    transform: translateY(calc(#{rhythm.lines(1, -1)} - 1px));
    width: #{rhythm.lines(6, -1)};
  }

  a {
    --color: #{palette.stone($lightness: 28%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 88%)};
    }

    color: var(--color);
    text-decoration: none;
  }

  a:hover {
    --color: #{palette.stone($lightness: 48%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 64%)};
    }
  }

  li::marker {
    @include fonts.mono;
    @include rhythm.font-size(-1);

    font-variant-numeric: tabular-nums;
    font-weight: 300;
  }

  ol {
    --color: #{palette.stone($lightness: 48%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 62%)};
    }

    color: var(--color);
    columns: 2;
    font-weight: 800;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-transform: capitalize;
  }

  p {
    display: none;
  }
}

//
// Main topic content/copy
// -----------------------------------------------------------------------------------------------

#topic-content > div {
  @include fonts.serif;
  @include rhythm.font-size(0);

  --color: #{palette.stone($lightness: 28%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 84%)};
  }

  color: var(--color);
  font-weight: 300;

  a {
    color: var(--color);
    text-decoration-color: var(--text-decoration-color);
  }

  a:link {
    --color: #{palette.blue($lightness: 46%)};
    --text-decoration-color: #{palette.blue($lightness: 72%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.blue($lightness: 66%)};
      --text-decoration-color: #{palette.blue($lightness: 28%)};
    }

    &:hover {
      --color: #{palette.blue($lightness: 38%)};
      --text-decoration-color: #{palette.blue($lightness: 56%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.blue($lightness: 68%)};
        --text-decoration-color: #{palette.blue($lightness: 52%)};
      }
    }
  }

  a:visited {
    --color: #{palette.purple($lightness: 42%)};
    --text-decoration-color: #{palette.purple($lightness: 72%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.purple($lightness: 62%)};
      --text-decoration-color: #{palette.purple($lightness: 26%)};
    }

    &:hover {
      --color: #{palette.purple($lightness: 38%)};
      --text-decoration-color: #{palette.purple($lightness: 56%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.purple($lightness: 82%)};
        --text-decoration-color: #{palette.purple($lightness: 26%)};
      }
    }
  }

  // prettier-ignore
  a:active, a:hover:active {
    --color: #{palette.red($lightness: 38%)};
    --text-decoration-color: #{palette.red($lightness: 48%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.red($lightness: 58%)};
      --text-decoration-color: #{palette.red($lightness: 60%)};
    }
  }

  a:not([href^='http:']):not([href^='https:']) {
    --color: #{palette.yellow($lightness: 26%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.yellow($lightness: 86%)};
    }

    text-decoration: none;
  }

  a:not([href^='http:']):not([href^='https:']):hover {
    --color: #{palette.yellow($lightness: 36%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.yellow($lightness: 62%)};
    }
  }

  // prettier-ignore
  h2, li, p {
    max-width: 72ch;
  }

  h2 {
    @include fonts.sans;
    @include rhythm.font-size(1);

    --color: #{palette.stone($lightness: 12%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 92%)};
    }

    color: var(--color);
    font-weight: 700;
    padding-bottom: #{rhythm.fragments(2, 1)};
    padding-top: #{rhythm.fragments(6, 1)};
  }

  // prettier-ignore
  ol, ul {
    margin-left: #{rhythm.fragments(6)};

    li::marker {
      --color: #{palette.stone($lightness: 36%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 72%)};
      }

      color: var(--color);
      font-size: 0.9em;
      font-weight: 600;
    }
  }

  // prettier-ignore
  p + ol, p + p, p + ul {
    margin-top: #{rhythm.lines(1)};
  }
}
