@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Essays related to the wiki topic
// -----------------------------------------------------------------------------------------------

#topic-essays {
  display: grid;
  grid-auto-rows: 1fr;
  grid-area: essays;
  gap: var(--layout-gap);

  @include layout.six-column {
    grid-template-columns: repeat(2, 1fr);
  }

  @include layout.eight-column {
    grid-template-columns: repeat(1, 1fr);
  }

  @include layout.twelve-column {
    grid-template-columns: repeat(3, 1fr);
  }

  @include layout.sixteen-column {
    grid-template-columns: repeat(2, 1fr);
  }

  h3 {
    display: none;
  }
}

//
// Essay container
// -----------------------------------------------------------------------------------------------

#topic-essays article {
  --background-color: #{palette.stone($lightness: 84%)};
  --border-color: #{palette.stone($lightness: 74%)};
  --border-width: 1px;

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 22%)};
    --border-color: #{palette.stone($lightness: 36%)};
  }

  background-color: var(--background-color);
  border: var(--border-color) solid var(--border-width);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: calc(var(--border-width) * -2);
  min-height: #{rhythm.lines(12)};
  overflow: hidden;
  position: relative;
  z-index: 1;
}

//
// Essay title
// -----------------------------------------------------------------------------------------------

#topic-essays article h4 {
  @include fonts.serif;
  @include rhythm.font-size(2, 10);

  font-weight: 300;
  padding-bottom: #{rhythm.lines(1, 2)};
  padding-left: #{rhythm.lines(1, 2)};
  padding-right: #{rhythm.lines(1, 2)};
  padding-top: #{rhythm.lines(1, 2)};
  text-align: center;
  z-index: 3;

  @include layout.twelve-column {
    @include rhythm.font-size(3, 10);

    padding-bottom: #{rhythm.lines(1, 3)};
    padding-left: #{rhythm.lines(1, 3)};
    padding-right: #{rhythm.lines(1, 3)};
    padding-top: #{rhythm.lines(1, 3)};
  }

  @include layout.sixteen-column {
    @include rhythm.font-size(4, 10);

    padding-bottom: #{rhythm.lines(1, 4)};
    padding-left: #{rhythm.lines(1, 4)};
    padding-right: #{rhythm.lines(1, 4)};
    padding-top: #{rhythm.fragments(6, 4)};
  }

  a {
    --color: #{palette.stone($lightness: 12%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 90%)};
    }

    color: var(--color);
    text-decoration: none;

    &:hover {
      --color: #{palette.stone($lightness: 38%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 72%)};
      }
    }
  }
}

//
// Essay summary
// -----------------------------------------------------------------------------------------------

#topic-essays article p {
  @include fonts.sans;
  @include rhythm.font-size(-1);

  --color: #{palette.stone($lightness: 38%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 72%)};
  }

  color: var(--color);
  font-weight: 500;
  padding-bottom: #{rhythm.lines(1, -1)};
  padding-left: #{rhythm.lines(1, -1)};
  padding-right: #{rhythm.lines(1, -1)};
  padding-top: #{rhythm.lines(1, -1)};
  text-align: center;
  z-index: 3;

  @include layout.sixteen-column {
    @include rhythm.font-size(0);

    font-weight: 300;
    padding-bottom: #{rhythm.fragments(6)};
    padding-left: #{rhythm.lines(1)};
    padding-right: #{rhythm.lines(1)};
    padding-top: #{rhythm.lines(1)};
  }
}

//
// Essay with masthead
// -----------------------------------------------------------------------------------------------

#topic-essays article picture {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }

  & ~ h4 {
    --background-image: linear-gradient(
      #{palette.stone($alpha: 0.75, $lightness: 8%)},
      #{palette.stone($alpha: 0.5, $lightness: 8%)},
      #{palette.stone($alpha: 0, $lightness: 8%)}
    );
    --text-shadow-color: #{palette.stone($alpha: 0.15, $lightness: 18%)};

    background-image: var(--background-image);
    flex-grow: 1;
    text-align: left;
    text-shadow: 0 0 #{rhythm.em(4px)} var(--text-shadow-color);

    @include layout.eight-column {
      padding-bottom: #{rhythm.lines(1, 2)};
    }

    @include layout.twelve-column {
      padding-bottom: #{rhythm.lines(1, 3)};
    }

    @include layout.sixteen-column {
      padding-bottom: #{rhythm.lines(1, 4)};
    }

    a {
      --color: #{palette.stone($lightness: 88%)};

      &:hover {
        --color: #{palette.stone($alpha: 0.75, $lightness: 88%)};
      }
    }
  }

  & ~ p {
    --background-image: linear-gradient(
      #{palette.stone($alpha: 0, $lightness: 8%)},
      #{palette.stone($alpha: 0.75, $lightness: 8%)},
      #{palette.stone($alpha: 0.75, $lightness: 8%)},
      #{palette.stone($alpha: 0.9, $lightness: 8%)}
    );
    --text-shadow-color: #{palette.stone($alpha: 0.25, $lightness: 8%)};

    background-image: var(--background-image);
    color: #{palette.stone($lightness: 88%)};
    text-align: left;
    text-shadow: 0 0 #{rhythm.em(4px)} var(--text-shadow-color);

    @include layout.eight-column {
      padding-top: #{rhythm.lines(1, 2)};
    }

    @include layout.twelve-column {
      padding-top: #{rhythm.lines(2, 3)};
    }

    @include layout.sixteen-column {
      padding-top: #{rhythm.lines(2, 4)};
    }
  }
}
