// -----------------------------------------------------------------------------------------------
//
// Named Color Definitions
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../assets/css/palette";

//
// Define named text colors
// -----------------------------------------------------------------------------------------------

/* prettier-ignore */
$text: (
  main: palette.stone($lightness: 18%) palette.stone($lightness: 86%),
  secondary: palette.stone($lightness: 30%) palette.stone($lightness: 68%),
  tertiary: palette.stone($lightness: 42%) palette.stone($lightness: 58%),
  
  emphasized: palette.stone($lightness: 6%) palette.stone($lightness: 94%),
  faded: palette.stone($lightness: 62%) palette.stone($lightness: 34%)
);
