@use "sass:map";

//
// Define how many columns there will be at each screen width
// -----------------------------------------------------------------------------------------------

$columns: (
  2: 227,
  3: 400,
  4: 496,
  5: 604,
  6: 798,
  8: 872,
  12: 1080,
  16: 1378,
);

//
// A mix-in for responding to each column count
// -----------------------------------------------------------------------------------------------

@mixin columns($count) {
  @media (min-width: #{map.get($columns, $count)}px) {
    @content;
  }
}

//
// Mix-in for setting the width to the number of columns
// -----------------------------------------------------------------------------------------------

@mixin width($count) {
  @each $i in map.keys($columns) {
    @include columns($i) {
      width: #{col-calc($count, $i)};
    }
  }
}

//
// Function for calculating a width based on the number of columns
// -----------------------------------------------------------------------------------------------

@function col-calc($num, $of) {
  $gutter: #{var(--grid-space)};
  $col-width: calc((100% - calc(#{$gutter} * #{$of - 1})) / #{$of});

  @if $num == 1 {
    @return $col-width;
  } @else {
    @return calc((#{$col-width} * #{$num}) + (#{$gutter} * #{$num - 1}));
  }
}
