@use "sass:map";

//
// Define how many columns there will be at each screen width
// -----------------------------------------------------------------------------------------------

$columns: (
  2: 227,
  3: 351,
  4: 465,
  5: 595,
  6: 816,
  8: 872,
  12: 1081,
  16: 1278,
);

//
// A mix-in for responding to each column count
// -----------------------------------------------------------------------------------------------

@mixin columns($count) {
  @media (min-width: #{map.get($columns, $count)}px) {
    @content;
  }
}

//
// Width
// -----------------------------------------------------------------------------------------------

@mixin width($count) {
  @each $i in map.keys($columns) {
    @include columns($i) {
      @if $count == 1 {
        width: calc((100% - ((var(--fragment) * 2) * #{$i - 1})) / #{$i});
      } @else {
        width: calc((((100% - ((var(--fragment) * 2) * #{$i - 1})) / #{$i}) * $count) + ((var(--fragment) * 2) * ($count - 1)));
      }
    }
  }
}
