// -----------------------------------------------------------------------------------------------
//
// CSS-Based Icon Utility Mix-ins
//
// -----------------------------------------------------------------------------------------------

@use "./val";

@mixin after($url, $color: currentcolor, $size: 0.85em) {
  &::after {
    @include block($size, inline-block);
    @include mask($size, $url);
    background-color: $color;
    margin-inline-start: 0.5ch;
    @content;
  }
}

@mixin before($url, $color: currentcolor, $size: 0.85em) {
  &::before {
    @include block($size, inline-block);
    @include mask($size, $url);
    background-color: $color;
    margin-inline-end: 0.5ch;
    @content;
  }
}

@mixin block($size, $display: inline-block) {
  content: "";
  display: $display;
  height: #{val.var-escape($size)};
  vertical-align: -0.51px;
  width: #{val.var-escape($size)};
}

@mixin mask($size, $url: false) {
  @if $url {
    mask-image: #{val.url-escape($url)};
  }
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: #{val.var-escape($size)} #{val.var-escape($size)};
}

@mixin replace($url: false, $color: currentcolor, $size: 0.85em) {
  @include block($size, inline-block);
  @include mask($size, $url);
  background-color: $color;
}
