// -----------------------------------------------------------------------------------------------
//
// Icon helpers
//
// -----------------------------------------------------------------------------------------------

//
// Mix-ins for mask-based icons
// -----------------------------------------------------------------------------------------------

@mixin mask($size, $image: false) {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: $size $size;

  @if $image {
    @include mask-image($image);
  }
}

@mixin mask-image($url) {
  mask-image: url('#{$url}');
}
