// -----------------------------------------------------------------------------------------------
//
// Layout SASS Mix-Ins
//
// -----------------------------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';

@use "./grid";
@use "./scale";
@use "./val";

//
// Centers all of the children
// -----------------------------------------------------------------------------------------------

@mixin center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

//
// Clusters all of the children in row, wrapping predictably
// -----------------------------------------------------------------------------------------------

@mixin cluster($space: val.fragments(2), $justify: start) {
  align-items: var(--cluster-align, center);
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-space, #{$space});
  justify-content: var(--cluster-justify, #{$justify});
}

//
// Provides flow and rhythm between direct sibling elements.
// -----------------------------------------------------------------------------------------------

@mixin flow($space: val.rhythm(1)) {
  & > * + * {
    margin-block-start: var(--flow-space, #{$space});
  }
}

//
// Sets up a column grid
// -----------------------------------------------------------------------------------------------

@mixin grid($space: val.fragments(2)) {
  display: grid;
  gap: var(--grid-space, #{$space});

  @each $count in map.keys(grid.$columns) {
    @include grid.columns($count) {
      grid-template-columns: repeat($count, 1fr) !important;
    }
  }
}

//
// Center its content, constraining its width so it doesn't grow too large
// -----------------------------------------------------------------------------------------------

@mixin wrapper($max: math.div(scale.$max-width, 16) + rem, $thin-space: val.fragments(2), $wide-space: val.rhythm(1)) {
  margin-inline: auto;
  max-inline-size: #{$max};
  padding-inline-end: calc(var(--wrapper-space, #{$thin-space}) + env(safe-area-inset-right));
  padding-inline-start: calc(var(--wrapper-space, #{$thin-space}) + env(safe-area-inset-left));

  @include grid.columns(6) {
    padding-inline-end: calc(var(--wrapper-space, #{$wide-space}) + env(safe-area-inset-right));
    padding-inline-start: calc(var(--wrapper-space, #{$wide-space}) + env(safe-area-inset-left));
  }
}
