// -----------------------------------------------------------------------------------------------
//
// Positioning Mix-Ins
//
// -----------------------------------------------------------------------------------------------

@mixin center {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
