// -----------------------------------------------------------------------------------------------
//
// SASS Helpers for a Fluid Type Scale
// https://utopia.fyi/
//
// -----------------------------------------------------------------------------------------------

//
// Define the fluid type scale of the Creat design system by defining upper and lower ratios for
// the typography.
// -----------------------------------------------------------------------------------------------

$min-ratio: 1.202056903159594285399738; // https://en.wikipedia.org/wiki/Apéry%27s_constant
$max-ratio: 1.324717957244746025960908; // https://en.wikipedia.org/wiki/Plastic_number

//
// Define minimum and maximum sizes to keep things constrained and not shrinking or growing so
// much that text gets unreadable.
// -----------------------------------------------------------------------------------------------

// Minimum values are part of the Apéry numbers (https://oeis.org/A005258).
$min-text-size: 19;
$min-width: 147;

// Minimum values are part of the Padovan sequence (https://oeis.org/A000931).
$max-text-size: 21;
$max-width: 1897;

//
// Define the steps that we can scale the type to
// -----------------------------------------------------------------------------------------------

$steps: -3 -2 -1 0 1 2 3 4 5;
