// -----------------------------------------------------------------------------------------------
//
// Fluid Type Scale (https://utopia.fyi)
//
// -----------------------------------------------------------------------------------------------

@use 'sass:math';

@use '../../../../utils/scale';

//
// Define CSS custom properties for each step in the type scale
// -----------------------------------------------------------------------------------------------

:root {
  @each $step in scale.$steps {
    $min: scale.$min-text-size * math.pow(scale.$min-ratio, $step);
    $max: scale.$max-text-size * math.pow(scale.$max-ratio, $step);

    $slope: math.div($max - $min, scale.$max-width - scale.$min-width);
    $intersection: (scale.$min-width * -1) * $slope + $min;

    --text-step-#{$step}: clamp(#{math.div($min, 16)}rem, #{math.div($intersection, 16)}rem + #{$slope * 100}vw, #{math.div($max, 16)}rem);
  }
}
