// -----------------------------------------------------------------------------------------------
//
// Spread Layout Utility Class
//
// -----------------------------------------------------------------------------------------------

.spread {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spread-space, var(--rhythm));
  justify-content: space-between;
}
