<div class="JournalLive_EditorComponent">
  <%= inputs_for @form, :note, fn f -> %>
    <div data-input={input_id(f, :doc)} id="journal-editor"  phx-hook="JournalEditor" />
    <div class="count">12 / 256</div>
    
    <%= hidden_input(f, :doc, value: json(input_value(f, :doc))) %>
  <% end %>
</div>
