<div class="JournalLive_EditorComponent">
  <div data-input={input_id(@form, :doc)} data-schema={input_value(@form, :kind)} id="journal-editor"  phx-hook="JournalEditor" />
  <div class="count">0</div>
    
  <%= hidden_input(@form, :doc, value: json(input_value(@form, :doc))) %>
</div>
