// -----------------------------------------------------------------------------------------------
//
// Website Home Page
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";
@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/val';

//
// Change the website header
// -----------------------------------------------------------------------------------------------

header[role="banner"] {
  a[role="home"] {
    color: #{palette.stone($lightness: 96%)};
    &:hover {
      color: #{palette.stone($lightness: 96%, $alpha: 0.72)};
    }
  }

  p {
    color: #{palette.stone($lightness: 90%)};
    text-shadow: #{palette.stone($lightness: 10%, $alpha: 0.5)} 0 0 #{val.fragments(1)};
  }

  nav ul a {
    color: #{palette.stone($lightness: 86%)};
    &:hover {
      color: #{palette.stone($lightness: 86%, $alpha: 0.72)};
    }
  }
}

//
// Article Masthead
// -----------------------------------------------------------------------------------------------

article {
  z-index: -1;
}

article > header {
  $website-header-height: #{val.rhythm(10)};
  background-color: #{palette.stone($lightness: 80%)};
  height: 100vh;
  margin-block-start: calc($website-header-height * -1);
  padding-block-start: $website-header-height;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: #{palette.stone($lightness: 32%)};
  }

  picture {
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    // opacity: 0.8;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    // z-index: -1;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center top;
      width: 100%;
    }
  }
}

//
// Article Content
// -----------------------------------------------------------------------------------------------

article > div {
  // @include layout.grid;
  @include layout.wrapper;
  padding-block: #{val.rhythm(1)};

  & > div {
    color: white;
    background-color: black;

    @each $columns in (1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16) {
      &[data-column-num="#{$columns}"] {
        @include grid.width($columns);
      }
    }
  }
}
