// -----------------------------------------------------------------------------------------------
//
// Website Home Page
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";
@use "../../utils/box";
@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/text';
@use '../../utils/val';

//
// Change the website header
// -----------------------------------------------------------------------------------------------

header[role="banner"] {
  a[role="home"] {
    color: #{palette.stone($lightness: 96%)};
    &:hover {
      color: #{palette.stone($lightness: 96%, $alpha: 0.72)};
    }
  }

  p {
    color: #{palette.stone($lightness: 90%)};
    text-shadow: #{palette.stone($lightness: 10%, $alpha: 0.5)} 0 0 #{val.fragments(1)};
  }

  nav ul a {
    color: #{palette.stone($lightness: 86%)};
    &:hover {
      color: #{palette.stone($lightness: 86%, $alpha: 0.72)};
    }
  }
}

//
// Article Masthead
// -----------------------------------------------------------------------------------------------

section {
  z-index: -1;
}

section > header {
  $website-header-height: #{val.rhythm(10)};

  align-items: stretch;
  background-color: #{palette.stone($lightness: 80%)};
  display: flex;
  min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
  justify-content: flex-end;
  margin-block-start: calc($website-header-height * -1);
  padding-block-start: $website-header-height;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: #{palette.stone($lightness: 32%)};
  }

  picture {
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    // opacity: 0.8;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center top;
      width: 100%;
    }
  }

  article {
    @include layout.wrapper;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-block: #{val.rhythm(1)};
    width: 100%;
    z-index: 1;

    & > div {
      @include box.rounded;
      @include grid.width(7);
      background-color: #{palette.stone($lightness: 90%, $alpha: 0.8)};
      padding: #{val.rhythm(1)};

      @media (prefers-color-scheme: dark) {
        background-color: #{palette.stone($lightness: 8%, $alpha: 0.6)};
      }
    }

    h1 {
      @include text.style(sans, $step: 2, $color: main, $weight: 700);
      padding-block-end: #{val.fragments(2)};
    }

    p {
      @include text.style($step: 0, $color: secondary);
      font-weight: 100;
    }
  }
}

//
// Main content
// -----------------------------------------------------------------------------------------------

section > div {
  @include layout.grid;
  @include layout.wrapper;
  padding-block: #{val.rhythm(1)};

  & > article {
    @include box.rounded;
    background-color: #{palette.stone($lightness: 98%)};
    padding: #{val.rhythm(1)};

    @media (prefers-color-scheme: dark) {
      background-color: #{palette.stone($lightness: 4%)};
    }

    @each $columns, $span in (2: 2, 3: 3, 4: 4, 5: 5, 6: 3, 8: 2, 12: 3, 16: 4) {
      @include grid.columns($columns) {
        grid-column: span $span !important;
      }
    }
  }
}
