// -----------------------------------------------------------------------------------------------
//
// Journal Index Page Layout Styles
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/val';

//
// Imports for components used on page
// -----------------------------------------------------------------------------------------------

@import url("/assets/components/shared.css");
@import url("/assets/components/journal.css");

//
// Main container
// -----------------------------------------------------------------------------------------------

main > div {
  @include layout.grid;
  @include layout.wrapper;
  align-items: start;
  padding-bottom: #{val.rhythm(2)};

  & > section {
    @include layout.flow;
    padding-block: #{val.rhythm(1)};

    & > :first-of-type {
      margin-block-start: 0;
    }
  }

  @include grid.columns(5) {
    grid-template-rows: repeat(3, min-content) 1fr;

    & > .recent_tags {
      grid-column-end: span 3;
      grid-row-start: 4;
    }

    & > .blogroll {
      grid-column-end: span 2;
      grid-column-start: 4;
      grid-row-start: 4;
    }
  }

  @include grid.columns(6) {
    & > .recent_tags {
      grid-column-end: span 3;
    }

    & > .blogroll {
      grid-column-start: 4;
      grid-column-end: span 3;
    }
  }

  @include grid.columns(8) {
    grid-template-rows: repeat(4, min-content) 1fr;

    & > .section_header {
      grid-column-end: span 3;
    }

    & > .filter_by_type {
      grid-column-end: span 3;
      grid-row-start: 2;
    }

    & > section {
      grid-row-end: span 5;
      grid-column-start: 4;
      padding-block: 0;
    }

    & > .recent_tags {
      grid-column-end: span 3;
      grid-row-start: 4;
    }

    & > .blogroll {
      grid-column-end: span 3;
      grid-column-start: 1;
      grid-row-start: 5;
    }

    & > .recent_locations {
      grid-column-end: span 3;
      grid-row-start: 3;
    }
  }

  @include grid.columns(12) {
    grid-template-rows: repeat(3, min-content) 1fr;

    & > .section_header {
      grid-column-end: span 4;
    }

    & > .filter_by_type {
      grid-column-end: span 4;
      grid-row-end: span 3;
      grid-row-start: 2;
    }

    & > section {
      grid-column-end: span 5;
      grid-column-start: 5;
      grid-row-end: span 4;
      grid-row-start: 1;
    }

    & > .recent_tags {
      grid-column-end: span 3;
      grid-column-start: 10;
      grid-row-start: 3;
    }

    & > .blogroll {
      grid-column-end: span 3;
      grid-column-start: 10;
      grid-row-start: 4;
    }

    & > .recent_locations {
      grid-column-end: span 3;
      grid-column-start: 10;
      grid-row-start: 1;
      grid-row-end: span 2;
    }
  }

  @include grid.columns(16) {
    grid-template-rows: repeat(2, min-content) 1fr;

    & > .section_header {
      grid-column-end: span 3;
    }

    & > .filter_by_type {
      grid-column-end: span 3;
    }

    & > section {
      grid-column-end: span 6;
    }

    & > .recent_tags {
      grid-column-end: span 2;
      grid-column-start: 12;
    }

    & > .blogroll {
      grid-column-end: span 3;
      grid-column-start: 14;
      grid-row-start: 3;
    }

    & > .recent_locations {
      grid-column-end: span 5;
      grid-column-start: 12;
      grid-row-start: 1;
      grid-row-end: span 2;
    }
  }
}
