// -----------------------------------------------------------------------------------------------
//
// Fluid Space Scale (https://utopia.fyi)
//
// -----------------------------------------------------------------------------------------------

//
// Calculate all of the space units that are part of Creat.
// -----------------------------------------------------------------------------------------------

:root {
  /* prettier-ignore */
  $sizes: (3xs: 0.25, 2xs: 0.5, xs: 0.75, sm: 1, md: 1.5, lg: 2, xl: 3, 2xl: 4, 3xl: 6, 4xl: 8);

  @each $name, $scale in $sizes {
    @if $name == sm {
      /* prettier-ignore */
      --creat-#{$name}-min: var(--creat-min-size);
      /* prettier-ignore */
      --creat-#{$name}-max: var(--creat-max-size);
    } @else {
      /* prettier-ignore */
      --creat-#{$name}-min: calc(var(--creat-sm-min) * #{$scale});
      /* prettier-ignore */
      --creat-#{$name}-max: calc(var(--creat-sm-max) * #{$scale});
    }

    /* prettier-ignore */
    --space-#{$name}: calc(((var(--creat-#{$name}-min) / 16) * 1rem) + (var(--creat-#{$name}-max) - var(--creat-#{$name}-min)) * (var(--creat-bp) / 16));
  }
}

//
// Define some space interpolation units that can be used when an individual unit isn't
// quote enough.
// -----------------------------------------------------------------------------------------------

:root {
  /* prettier-ignore */
  --space-3xs-2xs: calc(((var(--creat-3xs-min) / 16) * 1rem) + (var(--creat-2xs-max) - var(--creat-3xs-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-2xs-xs: calc(((var(--creat-2xs-min) / 16) * 1rem) + (var(--creat-xs-max) - var(--creat-2xs-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-xs-sm: calc(((var(--creat-xs-min) / 16) * 1rem) + (var(--creat-sm-max) - var(--creat-xs-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-sm-md: calc(((var(--creat-s-min) / 16) * 1rem) + (var(--creat-md-max) - var(--creat-sm-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-md-lg: calc(((var(--creat-m-min) / 16) * 1rem) + (var(--creat-lg-max) - var(--creat-md-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-lg-xl: calc(((var(--creat-l-min) / 16) * 1rem) + (var(--creat-xl-max) - var(--creat-lg-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-xl-2xl: calc(((var(--creat-xl-min) / 16) * 1rem) + (var(--creat-2xl-max) - var(--creat-xl-min)) * (var(--creat-bp) / 16));
  /* prettier-ignore */
  --space-2xl-3xl: calc(((var(--creat-2xl-min) / 16) * 1rem) + (var(--creat-3xl-max) - var(--creat-2xl-min)) * (var(--creat-bp) / 16));
}
