// -----------------------------------------------------------------------------------------------
//
// Root utilities
//
// -----------------------------------------------------------------------------------------------

//
// Font type utility places
// -----------------------------------------------------------------------------------------------

.sans {
  font-family: var(--font-sans);
}

//
// Kerning utilities
// -----------------------------------------------------------------------------------------------

.kern-loose {
  letter-spacing: 0.05em;
}

//
// Text size utilities
// -----------------------------------------------------------------------------------------------

.step--1 {
  font-size: var(--text-step--1);
}

.step--2 {
  font-size: var(--text-step--2);
}

//
// Font weight utilities
// -----------------------------------------------------------------------------------------------

.weight-500 {
  font-weight: 500;
}

.weight-800 {
  font-weight: 800;
}

//
// Text alignment utilities
// -----------------------------------------------------------------------------------------------

.text-center {
  text-align: center;
}

//
// Text color utilities
// -----------------------------------------------------------------------------------------------

.text-tertiary {
  color: var(--color-tertiary-text);
}

//
// Text transform utilities
// -----------------------------------------------------------------------------------------------

.uppercase {
  text-transform: uppercase;
}

//
// Flex utilities
// -----------------------------------------------------------------------------------------------

.grow {
  flex-grow: 1;
}

//
// Visually hide elements
// -----------------------------------------------------------------------------------------------

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
