// -----------------------------------------------------------------------------------------------
//
// Root Styles - This is where we define the *global* styles that the rest of the website styles
// will use compose the design. It's in here that the design tokens are calculated and defined.
// Also any base styles for the website and styling on the document tags (i.e. <body>, <html>)
// are defined within.
//
// -----------------------------------------------------------------------------------------------

@use "./root_palette";
@use "./root_space";
@use "./root_scale";
@use "./root_type";

@use "./root_layout";
@use "./root_utilities";

//
// Set up the global styles
// -----------------------------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  font-family: var(--font-serif);
  font-weight: 200;
  font-size: var(--text-step-0);
  line-height: var(--creat-min-ratio);
  margin-block: 0;
  margin-inline: 0;
}

//
// Base styles for text
// -----------------------------------------------------------------------------------------------

h1 {
  font-size: var(--text-step-3);
}

h2 {
  font-size: var(--text-step-2);
}

h3 {
  font-size: var(--text-step-1);
}

h4 {
  font-size: var(--text-step-0);
}

h5 {
  font-size: var(--text-step--1);
}

h6 {
  font-size: var(--text-step--2);
}

p {
  max-inline-size: 72ch;
}

//
// Images
// -----------------------------------------------------------------------------------------------

img,
picture {
  display: block;
  max-inline-size: 100%;
}

img:not([alt]) {
  filter: blur(10px);
}

p {
  margin-block: 0;
}

//
// Lists
// -----------------------------------------------------------------------------------------------

ul[class],
ol[class] {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

//
// Tables
// -----------------------------------------------------------------------------------------------

table {
  border-collapse: collapse;
}

th {
  text-align: start;
}

//
// External link styles
// -----------------------------------------------------------------------------------------------

a {
  text-decoration: none;
}

a[href^="http:"]:link,
a[href^="https:"]:link {
  color: var(--external-link-color);
  text-decoration: underline;
  text-decoration-color: var(--external-link-underline-color);
  &:hover {
    color: var(--external-link-color-hover);
    text-decoration-color: var(--external-link-underline-color-hover);
  }
}

a[href^="http:"]:visited,
a[href^="https:"]:visited {
  color: var(--external-link-visited-color);
  text-decoration-color: var(--external-link-visited-underline-color);
  &:hover {
    color: var(--external-link-visited-color-hover);
    text-decoration-color: var(--external-link-visited-underline-color-hover);
  }
}

a[href^="http:"]:active,
a[href^="https:"]:active,
a[href^="http:"]:active:hover,
a[href^="https:"]:active:hover {
  color: var(--external-link-active-color);
  text-decoration-color: var(--external-link-active-underline-color);
}

//
// Map link styles
// -----------------------------------------------------------------------------------------------

a[href^="/map/"] {
  color: var(--map-link-color);
  text-decoration: none;
  &:hover {
    color: var(--map-link-hover-color);
  }
  &:active,
  &:active:hover {
    color: var(--map-link-active-color);
  }
}

//
// Tag link styles
// -----------------------------------------------------------------------------------------------

a[href^="/tags/"] {
  color: var(--tag-link-color);
  text-decoration: none;
  &:hover {
    color: var(--tag-link-hover-color);
  }
  &:active,
  &:active:hover {
    color: var(--tag-link-active-color);
  }
}

//
// Topic link styles
// -----------------------------------------------------------------------------------------------

a[href^="/"][href$="/"]:not([href^="/map/"]):not([href^="/tags/"]):not([href="/"]) {
  color: var(--topic-link-color);
  text-decoration: none;
  &:hover {
    color: var(--topic-link-hover-color);
  }
  &:active,
  &:active:hover {
    color: var(--topic-link-active-color);
  }
}
