<div>  
  <.section_header title="The Lot, Over Time">
    Here’s all that I’ve published on my website, organized chronologically. Peruse everything in-order and slowly go back in time, or narrow it down by date or month and see what things I found interesting at a particular time in my&nbsp;life.
  </.section_header>
  
  <.chronology />
  
  <aside>
    <.publishing_frequency />
    <.month_breakdown />
  </aside>
</div>