<footer>
  <p><span>“This is the Article Name” Has Been</span> <span>Syndicated To:</span></p>
  <ul>
    <li><a href="http://medium.com" title="Syndicated to Medium">Medium</a></li>
    <li><a href="http://soundcloud.com" title="Syndicated to Soundcloud">Soundcloud</a></li>
    <li><a href="http://vimeo.com" title="Syndicated to Vimeo">Vimeo</a></li>
    <li><a href="http://youtube.com" title="Syndicated to Youtube">Youtube</a></li>
  </ul>
</footer>