<header>
  <h2><a href="/">Brilliant Hardware in the Valley of the Software&nbsp;Slump</a></h2>
  <p>Our software feels less refined as our hardware achieves platonic&nbsp;ideals.</p>

  <aside>
    <p>
      <span>This piece of writing was posted under the topic “</span><a href="/topic">Topic Title</a><span>” on</span>
      <time datetime="2021-10-26">October 26<span>th</span>,&nbsp;2021</time><span>.</span>
    </p>
  </aside>
</header>
