<article>
  <div>
    <%= render("_show_header.html") %>
    <%= render("_show_content.html") %>
  </div>

  <div>
    <div>
      <%= render("_show_replies.html") %>
      <%= render("_show_responses.html") %>
      <%= render("_show_form.html") %>
      <%= render("_show_syndication.html") %>
    </div>
  </div>
</article>
