<article>
  <div>
    <.header />
    <.content />
  </div>

  <div>
    <div>
      <.replies />
      <.responses />
      <.webmention_form />
      <.syndication />
    </div>
  </div>
</article>
