@use "../../../../../assets/css/palette";

//
// Main container
// -----------------------------------------------------------------------------------------------

section.wiki article > aside {
  --background-color: #{palette.stone($lightness: 97%)};
  --border-color: #{palette.stone($lightness: 83%)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 11%)};
    --border-color: #{palette.stone($lightness: 6%)};
  }

  background-color: var(--background-color);
  border-left: var(--border-color) solid 1px;
  bottom: 0;
  position: fixed;
  right: 0;
  // prettier-ignore
  top: calc(var(--banner-height) + var(--header-height) + var(--article-header-height));
  width: var(--article-sidebar-width);
}

//
// Sidebar tabs
// -----------------------------------------------------------------------------------------------

section.wiki article > aside [role='tablist'] {
  --border-color: #{palette.stone($lightness: 88%)};

  @media (prefers-color-scheme: dark) {
    --border-color: #{palette.stone($lightness: 15%)};
  }

  align-items: center;
  border-bottom: var(--border-color) solid 1px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 3px 0;
  -webkit-user-select: none;
}

section.wiki article > aside [role='tab'] {
  --background-color: transparent;

  align-items: center;
  background-color: var(--background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;

  input[type='radio'] {
    display: none;
  }

  label {
    --color: #{palette.stone($lightness: 60%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 50%)};
    }

    display: block;
    font-size: 0;
    padding: 5px 7px;
    -webkit-user-select: none;

    &:active {
      --color: #{palette.stone($lightness: 34%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 76%)};
      }
    }

    &::after {
      --size: 13px;

      background-color: var(--color);
      display: block;
      height: var(--size);
      content: ' ';
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      width: var(--size);
    }

    &[for|='glossary']::after {
      mask-image: url('/images/fa/regular/note-sticky.svg');
    }

    &[for|='history']::after {
      mask-image: url('/images/fa/regular/clock-rotate-left.svg');
    }

    &[for|='links']::after {
      mask-image: url('/images/fa/regular/link.svg');
    }

    &[for|='metadata']::after {
      mask-image: url('/images/fa/regular/database.svg');
    }
  }

  &:has(input[type='radio']:checked) {
    --background-color: #{palette.stone($lightness: 91%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 15%)};
    }

    label {
      --color: #{palette.blue()};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.amber()};
      }
    }
  }
}

section.wiki article > aside [role='tabpanel'] {
  display: none;
}

// prettier-ignore
section.wiki article > aside [role='tablist']:has(input[id|='glossary']:checked) ~ [role='tabpanel'][id|='glossary'],
section.wiki article > aside [role='tablist']:has(input[id|='history']:checked) ~ [role='tabpanel'][id|='history'],
section.wiki article > aside [role='tablist']:has(input[id|='links']:checked) ~ [role='tabpanel'][id|='links'],
section.wiki article > aside [role='tablist']:has(input[id|='metadata']:checked) ~ [role='tabpanel'][id|='metadata'] {
  display: block;
}

//
// Sidebar sections
// -----------------------------------------------------------------------------------------------

section.wiki article > aside [role='tabpanel'] details {
  &:first-of-type summary {
    display: none;
  }

  &:last-of-type:not([open]) {
    border-bottom: var(--border-color) solid 1px;
  }
}

section.wiki article > aside [role='tabpanel'] details + details {
  --border-color: #{palette.stone($lightness: 88%)};

  @media (prefers-color-scheme: dark) {
    --border-color: #{palette.stone($lightness: 15%)};
  }

  border-top: var(--border-color) solid 1px;
}

section.wiki article > aside [role='tabpanel'] details summary {
  --color: #{palette.stone($lightness: 55%)};

  align-items: center;
  color: var(--color);
  cursor: default;
  display: flex;
  font-size: 10px;
  font-weight: 625;
  justify-content: space-between;
  text-transform: uppercase;
  -webkit-user-select: none;

  &::after {
    --color: #{palette.stone($lightness: 55%)};
    --size: 12px;

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 58%)};
    }

    background-color: var(--color);
    content: '';
    display: block;
    height: var(--size);
    mask-image: url('/images/fa/regular/angle-right.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: var(--size) var(--size);
    width: var(--size);
  }

  &::-webkit-details-marker {
    display: none;
  }

  span {
    flex-grow: 1;
  }

  button {
    --color: #{palette.stone($lightness: 55%)};
    --size: 12px;

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 58%)};
    }

    appearance: none;
    background-color: var(--color);
    content: '';
    display: block;
    height: 0;
    margin-right: 4px;
    mask-image: url('/images/fa/regular/circle-plus.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: var(--size) var(--size);
    overflow: hidden;
    padding-top: var(--size);
    width: 12px;
  }

  button:hover {
    --color: #{palette.stone($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 74%)};
    }
  }
}

section.wiki article > aside [role='tabpanel'] details summary {
  padding: 8px;
}

section.wiki article > aside [role='tabpanel'] details[open] summary {
  &::after {
    mask-image: url('/images/fa/regular/angle-down.svg');
  }
}

//
// Form fields
// -----------------------------------------------------------------------------------------------

section.wiki article > aside [role='tabpanel'] details {
  fieldset {
    border: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 8px;
  }

  fieldset > input[type='text'] {
    --background-color: #{palette.stone($lightness: 99%)};
    --border-color: #{palette.stone($lightness: 82%)};
    --box-shadow-color: #{palette.stone($alpha: 0.07, $lightness: 1%)};
    --color: #{palette.stone($lightness: 12%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 18%)};
      --border-color: #{palette.stone($lightness: 22%)};
      --box-shadow-color: #{palette.stone($alpha: 0.2, $lightness: 1%)};
      --color: #{palette.stone($lightness: 82%)};
    }

    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
    box-shadow: var(--box-shadow-color) 0 1px 1px;
    color: var(--color);
    font-size: 12px;
    font-weight: 450;
    padding: 4px;
    width: 100%;

    &:focus {
      --border-color: #{palette.blue($alpha: 0.75)};
      --ring-size: 3px;

      @media (prefers-color-scheme: dark) {
        --border-color: #{palette.amber($alpha: 0.45)};
      }

      border-color: var(--border-color);
      border-radius: 7px;
      border-width: var(--ring-size);
      margin-bottom: calc(var(--ring-size) * -1);
      outline: none;
      transform: translate(calc((var(--ring-size) - 0.5px) * -1), calc((var(--ring-size) - 0.5px) * -1));
      width: calc(100% + var(--ring-size));
    }

    &::placeholder {
      --color: #{palette.stone($lightness: 68%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 48%)};
      }

      color: var(--color);
    }
  }

  fieldset > select {
    --accent-color: #{palette.blue()};

    @media (prefers-color-scheme: dark) {
      --accent-color: #{palette.amber()};
    }

    accent-color: var(--accent-color);
    font-size: small;
  }

  fieldset > input[type='text'] + label,
  fieldset > select + label {
    --color: #{palette.stone($lightness: 18%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 86%)};
    }

    color: var(--color);
    font-size: 11px;
    font-weight: 425;
    margin-top: -8px;
  }

  .map {
    --background-color: #{palette.stone($lightness: 90%)};
    --border-color: #{palette.stone($lightness: 84%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 10%)};
      --border-color: #{palette.stone($lightness: 14%)};
    }

    aspect-ratio: 4 / 3;
    background-color: var(--background-color);
    border: var(--border-color) solid 1px;
    border-radius: 2px;
    overflow: hidden;
    margin: 2px 8px 8px 8px;
    width: calc(100% - 18px);

    & > div[id] {
      height: calc(100% - 2px);
      display: block;
      width: 100%;
    }

    & .mk-map-view {
      border-radius: 2px;

      // overflow: hidden;
    }
  }

  ul {
    --background-color: #{palette.stone($lightness: 99%)};
    --border-color: #{palette.stone($lightness: 88%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 11%)};
      --border-color: #{palette.stone($lightness: 15%)};
    }

    background-color: var(--background-color);
    border-bottom: var(--border-color) solid 1px;
    border-top: var(--border-color) solid 1px;
    list-style: none;
    margin: 0;
    padding: 0 8px;

    li {
      display: flex;
      padding: 2px 0;
    }

    li + li {
      align-items: center;
      border-top: var(--border-color) solid 1px;
    }

    input[type='text'] {
      background-color: transparent;
      border-width: 0px;
      box-shadow: none;
      flex-grow: 1;
    }
  }
}
