@use "../utils/media";
@use "../utils/palette";

//
// Wiki breadcrumbs
// -----------------------------------------------------------------------------------------------

main > section.wiki article > header ol {
  --gap: 3px;

  align-items: center;
  display: flex;
  gap: var(--gap);
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    gap: var(--gap);
  }

  li + li::before {
    --color: #{palette.stone($lightness: 72%)};
    --size: 20px;

    @include media.dark {
      --color: #{palette.stone($lightness: 26%)};
    }

    background-color: var(--color);
    content: '';
    display: inline-block;
    height: var(--size);
    mask-image: url(/images/caret-right.svg);
    mask-position: center left;
    mask-repeat: no-repeat;
    mask-size: var(--size);
    width: calc(var(--size) - 2px);
  }

  a {
    --color: #{palette.stone($lightness: 38%)};

    @include media.dark {
      --color: #{palette.stone($lightness: 64%)};
    }

    color: var(--color);
    cursor: default;
    text-decoration: none;

    &:hover {
      --color: #{palette.stone($lightness: 18%)};

      @include media.dark {
        --color: #{palette.stone($lightness: 78%)};
      }
    }
  }

  li:last-of-type a {
    --color: #{palette.stone($lightness: 18%)};

    @include media.dark {
      --color: #{palette.stone($lightness: 78%)};
    }

    font-weight: 600;
  }
}
