<header class="BreadcrumbsComponent">
  <nav>
    <ol>
      <%= for article <- @ancestors do %>
        <li><%= raw article.title_html %></li>
      <% end %>
      
      <%= if @draft do %>
        <li><i><%= raw @draft.title_html %></i></li>
      <% else %>
        <li><i>No Title</i></li>
      <% end %>
    </ol>
  </nav>
</header>
