<header class="BreadcrumbsComponent">
  <nav>
    <ol>
      <%= for article <- @ancestors do %>
        <li><%= article.title_html %></li>
      <% end %>
      <%= if @article do %>
        <li><i><%= @article.title_html %></i></li>
      <% end %>
    </ol>
  </nav>
</header>
