<div class="EditorComponent">
  <.form for={@changeset} let={f}>
    <div data-input={input_id(f, :doc)} id="wiki-editor" phx-hook="WikiEditor"></div>
    <%= hidden_input(f, :doc, value: json(input_value(f, :doc))) %>
  </.form>
</div>
