<section class="MetadataComponent">
  <.form for={@changeset} let={f}>
    <.topic_attributes form={f} />
    <.location_input form={f} />
    
    <.live_component form={f} id="wiki-tags" module={Bainistigh.WikiLive.TagsComponent} />
  </.form>
</section>