// -----------------------------------------------------------------------------------------------
//
// Entry Details
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/border';
@use '../../utils/box';

//
// Main container
// -----------------------------------------------------------------------------------------------

.entry_detail {
  @include border.all;
  @include box.bg(canvas);
  @include box.rounded;
  display: flex;
  flex-direction: column;
  position: relative;
}
