// -----------------------------------------------------------------------------------------------
//
// Filter Journal Entry By Type
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/grid';
@use '../../utils/icon';
@use '../../utils/text';
@use '../../utils/val';

//
// Main container
// -----------------------------------------------------------------------------------------------

.filter_by_type {
  column-gap: var(--grid-space);
  column-count: 2;

  @each $grid, $cols in (3: 3, 4: 4, 5: 5, 6: 6, 8: 3, 12: 2) {
    @include grid.columns($grid) {
      column-count: $cols;
    }
  }
}

//
// Comment
// -----------------------------------------------------------------------------------------------

.filter_by_type label {
  @include text.style(sans, $color: main, $step: -2, $weight: 700);
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: #{val.fragments(1)};
}

//
// Icons for types of entries
// -----------------------------------------------------------------------------------------------

.filter_by_type input {
  @include icon.replace($color: var(--color-faded-text), $size: 1.5em);
  appearance: none;

  &:not(:checked),
  &:not(:checked) + span {
    opacity: 0.5;
  }
}

@each $name, $icon in (bookmark: bookmark, checkin: location-dot, like: star, note: note, photo: image, quote: quote-left, read: book, reply: reply, repost: retweet, rsvp: calendar-check, video: film, walk: person-walking) {
  .filter_by_type input[name="#{$name}"] {
    mask-image: url("/images/fa/solid/#{$icon}.svg");
  }
}
