// -----------------------------------------------------------------------------------------------
//
// Tags From Recently Published Journal Entries
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/text';
@use '../../utils/val';

//
// Main container
// -----------------------------------------------------------------------------------------------

.recent_tags {
  @include layout.flow(val.fragments(2));
  line-height: #{val.fragments(3)};
}

//
// Section title
// -----------------------------------------------------------------------------------------------

.recent_tags h3 {
  @include text.sidebar-title;
}

//
// Tag links
// -----------------------------------------------------------------------------------------------

.recent_tags a[href] {
  @include text.step(-2);
  @include text.tag-links;
}

//
// List of tags
// -----------------------------------------------------------------------------------------------

.recent_tags ol {
  column-gap: var(--grid-space);

  @each $grid, $cols in (2: 2, 3: 3, 4: 4, 5: 3, 8: 2, 12: 2, 16: 1) {
    @include grid.columns($grid) {
      column-count: $cols;
    }
  }

  li {
    // display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
  }
}
