// -----------------------------------------------------------------------------------------------
//
// Wiki Index Page Layout Styles
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/val';

//
// Imports for components used on page
// -----------------------------------------------------------------------------------------------

@import url("/assets/components/shared.css");
@import url("/assets/components/wiki.css");

//
// Main container
// -----------------------------------------------------------------------------------------------

main > article {
  @include layout.grid;
  @include layout.wrapper;
  padding-bottom: #{val.rhythm(2)};
  row-gap: #{val.rhythm(1)};

  & > * {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @include grid.columns(12) {
    .section_header {
      grid-column-end: span 4;
    }

    section {
      grid-column-start: 5;
    }
  }

  @include grid.columns(16) {
    .section_header {
      grid-column-end: span 3;
    }

    section {
      grid-column-start: 5;
    }
  }
}

//
// Nest List Column Management
// -----------------------------------------------------------------------------------------------

main > article .nested_list {
  column-gap: #{val.fragments(2)};

  @each $breakpoint, $columns in (4: 2, 6: 3, 8: 4, 16: 6) {
    @include grid.columns($breakpoint) {
      columns: #{$columns};
    }
  }
}
