// -----------------------------------------------------------------------------------------------
//
// CatalogComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";
@use "../../utils/val";

//
// Main Containers
// -----------------------------------------------------------------------------------------------

.CatalogComponent {
  $header-height: 48px;
  @include border.block-start(quaternary);
  @include box.bg(secondary);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: calc($header-height - 1px);
  z-index: 999;

  @include media.ipad(min) {
    bottom: calc(85px + env(safe-area-inset-left));
    box-shadow: 0 0 0 1px #{palette.stone($lightness: 8%, $alpha: 0.06)}, 4px 0 24px #{palette.stone($lightness: 8%, $alpha: 0.1)};
    right: auto;
    width: 404px;
    z-index: 2;
  }

  @include media.mouse {
    $header-height: 64px;
    @include border.inline-end(separator);
    @include box.bg(quaternary);
    border-block-start: none;
    bottom: 0;
    box-shadow: none;
    display: initial;
    right: auto;
    top: calc($header-height + 35px);
    width: 264px;
    z-index: 999;
  }
}

// Toggle the sidebar when header button is enabled
section:has(.header_button:checked) .CatalogComponent {
  display: initial;
}

//
// Search
// -----------------------------------------------------------------------------------------------

.CatalogComponent .search {
  align-items: end;
  display: flex;
  padding-block: 8px;
  padding-inline: 8px;
  position: relative;
  z-index: 2;

  @include media.mouse {
    @include border.inline-end(secondary);
    height: 40px;
    margin-top: -64px;
    padding-block: 0;
    width: 264px;

    @media (prefers-color-scheme: dark) {
      @include border.inline-end(quaternary);
    }
  }
}

.CatalogComponent .search input {
  @include border.all(secondary);
  @include box.bg(main);
  @include box.rounded;
  @include text.style(sans, $size: 14px, $weight: 500);
  appearance: textfield;
  font-size: 16px;
  padding-block: 8px;
  padding-inline: 8px;
  width: 100%;

  @include media.mouse {
    @include border.all(main);
    font-size: 13px;
    padding-block: 4px;
  }
}

//
// Tabs
// -----------------------------------------------------------------------------------------------

.CatalogComponent .tabs {
  @include border.block(tertiary);
  @include text.style($color: quaternary, $size: 14px, $weight: 600);
  display: flex;
  padding-block: 8px;
  padding-inline: 8px;
  z-index: 1;

  @include media.mouse {
    @include border.block-end(separator);
    @include border.inline-end(secondary);
    @include text.style($color: quaternary, $size: 9px, $weight: 700);
    align-items: end;
    border-block-start: none;
    border-end-end-radius: 2px;
    gap: 8px;
    height: 24px;
    letter-spacing: 1px;
    justify-content: space-around;
    padding-block: 0;
    text-transform: uppercase;
    width: 264px;

    @media (prefers-color-scheme: dark) {
      @include border.inline-end(quaternary);
    }
  }

  li {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding-block: 4px;

    @include media.mouse {
      border-block-end: #{colors.var(tertiary, $ns: bg)} solid 2px;
      border-block-start: #{colors.var(tertiary, $ns: bg)} solid 2px;
      height: 24px;
    }

    &.selected {
      background-color: #{colors.var(accent, $ns: text)};
      border-radius: 4px;
      color: #{palette.stone($lightness: 98%)};

      @include media.mouse {
        @include text.color(tertiary);
        background-color: initial;
        border-block-end-color: #{colors.var(accent, $ns: text)};
        border-radius: 0;
      }
    }
  }
}

//
// Article list
// -----------------------------------------------------------------------------------------------

.CatalogComponent .list {
  padding: 12px;
  position: relative;
  z-index: 3;

  li a {
    @include box.rounded;
    @include border.block-end(secondary);
    @include icon.before($url: "/images/fa/regular/file.svg", $size: 18px) {
      background-color: #{colors.var(faded, $ns: text)};
      display: inline-block;
      transform: translateY(-4px);
      vertical-align: text-bottom;
    }
    @include text.style($color: secondary, $size: 18px, $weight: 500);
    align-items: center;
    display: block;
    padding-block: 10px;
    padding-inline: 16px;

    @include media.mouse {
      @include icon.before($url: "/images/fa/regular/file.svg", $size: 16px) {
        background-color: #{colors.var(quaternary, $ns: text)};
        display: inline-block;
        transform: translateY(-1px);
        vertical-align: text-bottom;
      }
      @include text.style($color: secondary, $size: 13px, $weight: 500);
      border-block-end: none;
      padding-block: 6px;
    }

    &[aria-current="page"] {
      @include text.color(accent);

      &::before {
        background-color: #{colors.var(quaternary, $ns: text)};
      }

      @include media.mouse {
        background-color: #{colors.var(accent, $ns: text)};
        color: #{palette.stone($lightness: 98%)};

        &::before {
          background-color: #{palette.stone($lightness: 98%, $alpha: 0.72)};
        }
      }
    }

    &.published.live::before {
      mask-image: #{val.url-escape("/images/fa/regular/file-check.svg")};
    }
    &.published.changed::before {
      mask-image: #{val.url-escape("/images/fa/regular/file-lines.svg")};
    }
    &.unpublished {
      @include text.color(quaternary);
      &[aria-current="page"] {
        color: #{palette.stone($lightness: 98%, $alpha: 0.6)};
      }
    }
  }

  li li a {
    margin-inline-start: 24px;
    @include media.mouse {
      margin-inline-start: 0;
      padding-inline-start: 24px;
    }
  }

  li li li a {
    margin-inline-start: 36px;
    @include media.mouse {
      margin-inline-start: 0;
      padding-inline-start: 36px;
    }
  }

  li li li li a {
    margin-inline-start: 48px;
    @include media.mouse {
      margin-inline-start: 0;
      padding-inline-start: 48px;
    }
  }
}

//
// New article button
// -----------------------------------------------------------------------------------------------

.CatalogComponent .new_article_button {
  position: relative;

  @include media.ipad(max) {
    @include box.bg(secondary);
    align-items: center;
    display: flex;
    height: 47px;
    inline-size: 50%;
    justify-content: end;
    padding-inline: 12px;
    position: fixed;
    right: 0;
    top: 0;
  }

  @include media.mouse {
    @include border.block-start;
    bottom: 0;
    inline-size: calc(264px - 1px);
    left: 0;
    padding-block: 2px;
    position: fixed;
  }
}

.CatalogComponent .new_article_button label {
  @include media.ipad(max) {
    @include icon.replace($url: "/images/fa/regular/pen-to-square.svg", $size: 24px);
    @include text.color(accent);
  }

  @include media.ipad(min) {
    @include box.bg(quaternary);
    @include icon.after($url: "/images/fa/solid/circle-plus.svg", $size: 20px);
    @include text.style(sans, $color: tertiary, $size: 18px, $weight: 600);
    align-items: center;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 8px;
  }

  @include media.mouse {
    @include icon.after($url: "/images/fa/regular/plus.svg", $size: 16px);
    @include text.style(sans, $color: quaternary, $size: 13px, $weight: 600);
    flex-direction: row-reverse;
    gap: 4px;
    justify-content: start;
    padding-inline: 16px;

    &:has(input:checked),
    &:hover {
      @include text.color(main);
    }
  }
}

.new_article_button label input {
  display: none;
}

.CatalogComponent .new_article_button .options {
  display: none;
  flex-direction: column;

  @include media.ipad(max) {
    background-image: linear-gradient(#{palette.stone($lightness: 2%, $alpha: 0.8)}, #{palette.stone($lightness: 8%, $alpha: 0.7)});
    content: "";
    gap: 8px;
    height: 100%;
    left: 0;
    padding: 12px;
    position: fixed;
    right: 0;
    top: 48px;
    z-index: 9999;
  }

  @include media.ipad(min) {
    @include box.bg(main);
    border-radius: 4px;
    box-shadow: 0 4px 32px #{palette.stone($lightness: 8%, $alpha: 0.15)};
    position: absolute;
    left: 50%;
    transform: translate(72px, -6px);
    top: 0;

    &::after {
      block-size: 0;
      border-block: transparent solid 8px;
      border-inline-end: #{colors.var(main, $ns: bg)} solid 8px;
      content: "";
      display: block;
      inline-size: 0;
      left: 0;
      position: absolute;
      transform: translate(-8px, 18px);
      top: 0;
    }
  }

  @include media.mouse {
    @include border.all(main);
    @include box.bg(secondary);
    box-shadow: 0 0 0 1px #{palette.stone($lightness: 8%, $alpha: 0.04)}, 0 4px 16px #{palette.stone($lightness: 8%, $alpha: 0.15)};
    bottom: 0;
    gap: 4px;
    padding: 4px;
    transform: translate(0, -18px);
    top: auto;

    &::after {
      display: none;
    }
  }
}

.CatalogComponent .new_article_button label:has(input:checked) ~ .options {
  display: flex;
}

.CatalogComponent .new_article_button .options button {
  @include box.bg(secondary);
  @include text.style(sans, $color: accent, $size: 18px, $weight: 600);
  display: flex;
  justify-content: center;
  padding: 12px;

  @include media.ipad(max) {
    border-radius: 4px;
  }

  @include media.ipad(min) {
    background-color: transparent;
    padding-inline: 16px;
    min-inline-size: 320px;
  }

  @include media.mouse {
    @include text.style(sans, $color: tertiary, $size: 12px, $weight: 500);
    border-radius: 4px;
    justify-content: space-between;
    min-inline-size: 224px;
    padding-block: 6px;
    padding-inline: 8px;

    &::after {
      @include text.color(faded);
      content: "⌥⌃" attr(accesskey);
      text-transform: uppercase;
    }

    &:hover {
      background-color: #{colors.var(accent, $ns: text)};
      color: #{palette.stone($lightness: 98%)};

      &::after {
        color: #{palette.stone($lightness: 98%)};
      }
    }
  }
}

.CatalogComponent .new_article_button .options button + button {
  @include media.ipad(min) {
    @include border.block-start(secondary);
  }

  @include media.mouse {
    border-block-start: none;
  }
}
