// -----------------------------------------------------------------------------------------------
//
// Editor Component
//
// -----------------------------------------------------------------------------------------------
@use "prosemirror.css";

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.EditorComponent {
  padding-block: 24px;
  padding-inline: 12px;

  @include media.ipad(min) {
    margin-block-start: 28px;
    margin-inline-end: 304px;
    padding-inline: 24px;
  }

  @include media.mouse {
    margin-block-end: 16px;
    margin-inline-start: 264px;
    margin-inline-end: 240px;
    padding-block: 64px;
    padding-inline: 64px;
  }

  & > div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

section.wiki:has(.SidebarComponent > .toggle:not(:checked)) .EditorComponent {
  @include media.ipad(min) {
    margin-inline-end: 0;
  }
}

//
// WYSIWYG
// -----------------------------------------------------------------------------------------------

.EditorComponent [contenteditable="true"] {
  @include text.style(serif, $color: secondary, $size: 24px, $weight: 300);
  inline-size: 100%;
  max-inline-size: 72ch;
  outline: none;
  position: relative;

  @include media.ipad(max) {
    font-size: 20px;
  }

  a {
    position: relative;
    text-decoration: underline;

    &:hover::after {
      @include text.style(sans, $color: secondary, $size: 11px, $weight: 600);
      background-color: #{palette.stone($lightness: 86%)};
      border: #{palette.stone($lightness: 74%)} solid 0.5px;
      box-shadow: 0 2px 4px #{palette.stone($lightness: 8%, $alpha: 0.2)};
      content: attr(href);
      left: 50%;
      padding-block: 2px;
      padding-inline: 8px;
      position: absolute;
      transform: translate(-50%, 4px);
      top: 100%;
      z-index: 100;

      @media (prefers-color-scheme: dark) {
        background-color: #{palette.stone($lightness: 22%)};
        border: #{palette.stone($lightness: 34%)} solid 0.5px;
        box-shadow: 0 2px 4px #{palette.stone($lightness: 8%)};
      }
    }
  }

  h1 {
    font-size: 200%;
    font-weight: 100;
    margin: 0;
  }

  p {
    margin: 0;
  }

  p strong {
    font-weight: 650;
  }

  h1 + p {
    margin-top: 1em;
  }

  p + p,
  ol,
  ol + p,
  ul,
  ul + p {
    margin-top: 1em;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  [data-placeholder]:first-of-type {
    @include text.color(faded);
  }

  [data-placeholder]:first-of-type::before {
    @include text.color(faded);
    content: attr(data-placeholder);
    pointer-events: none;
    position: absolute;
  }
}

//
// Tooltip
// -----------------------------------------------------------------------------------------------

.tooltip {
  align-content: center;
  background-color: #{palette.stone($lightness: 28%)};
  border-radius: 4px;
  color: #{palette.stone($lightness: 96%)};
  cursor: point;
  display: flex;
  gap: 12px;
  justify-content: space-around;
  min-inline-size: 180px;
  padding-block: 12px;
  padding-inline: 16px;
  margin-block-end: 8px;
  position: absolute;
  transform: translateX(-50%);
  -webkit-user-select: none;
  z-index: 20;
}

.tooltip::after {
  $size: 6px;
  block-size: 0;
  border: $size solid transparent;
  border-block-start-color: #{palette.stone($lightness: 28%)};
  border-block-end-width: 0;
  bottom: 0 - $size;
  content: "";
  inline-size: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.tooltip button {
  pointer-events: auto;

  &.bold {
    @include icon.replace($url: "/images/fa/solid/bold.svg", $size: 16px);
  }
  &.italic {
    @include icon.replace($url: "/images/fa/solid/italic.svg", $size: 16px);
  }
  &.link {
    @include icon.replace($url: "/images/fa/solid/link.svg", $size: 16px);
  }

  &:hover {
    color: #{palette.stone($lightness: 82%)};
  }
}

.tooltip input {
  @include text.style(sans, $size: 14px, $weight: 500);
  background-color: #{palette.stone($lightness: 28%)};
  border-radius: 2px;
  color: currentcolor;
  bottom: 0;
  display: none;
  left: 0;
  outline: none;
  padding-inline: 8px;
  position: absolute;
  right: 0;
  top: 0;

  &::placeholder {
    color: #{palette.stone($lightness: 62%)};
  }
}
