// -----------------------------------------------------------------------------------------------
//
// MetadataComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Topic attributes
// -----------------------------------------------------------------------------------------------

.MetadataComponent .topic_attributes {
  summary {
    @include text.style($color: tertiary, $size: 13px, $weight: 600);
    align-items: center;
    cursor: default;
    display: flex;
    letter-spacing: 0.05em;
    justify-content: space-between;
    padding: 20px 8px 8px 20px;
    text-transform: uppercase;
    -webkit-user-select: none;

    &::-webkit-details-marker {
      display: none;
    }

    @include media.ipad(min) {
      display: none;
    }
  }

  fieldset {
    border: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;

    @include media.ipad(max) {
      @include box.bg(main);
      margin: 0 12px 0 12px;
    }

    @include media.ipad(min) {
      padding: 8px;
    }

    & > div {
      display: contents;
    }
  }
}

.MetadataComponent .topic_attributes input[type="text"] {
  @include text.style(sans, $color: main, $size: 18px, $weight: 500);
  background-color: transparent;
  // outline: none;
  z-index: 2;

  &::placeholder {
    opacity: 0;
  }

  @include media.ipad(min) {
    @include box.bg(faded);
    @include border.all(secondary);
    @include text.style(sans, $color: main, $size: 12px, $weight: 500);
    accent-color: #{colors.var(accent, $ns: text)};
    border-radius: 4px;

    padding: 4px;

    &::placeholder {
      opacity: initial;
    }
  }

  @include media.mouse {
    outline: revert;

    &:focus {
      outline-color: #{colors.var(accent, $ns: text)};
    }
  }
}

.MetadataComponent .topic_attributes label {
  @include text.style(sans, $color: faded, $size: 18px, $weight: 500);
  margin-block-start: -24px;
  z-index: 1;

  @include media.ipad(min) {
    @include text.style(sans, $color: tertiary, $size: 11px, $weight: 500);
    margin-block-start: 4px;
    transform: none;
  }
}

.MetadataComponent .topic_attributes fieldset > label {
  margin-block-end: 12px;

  @include media.ipad(max) {
    @include border.block-end(secondary);
    padding-block-end: 12px;
  }
}

.MetadataComponent .topic_attributes input:not(:placeholder-shown) + label,
.MetadataComponent .topic_attributes select:has(option:first-child:not(:checked)) + label {
  @include media.ipad(max) {
    color: transparent;
  }
}

.MetadataComponent .topic_attributes select {
  @include text.style(sans, $color: main, $size: 18px, $weight: 500);
  background-color: transparent;
  accent-color: #{colors.var(accent, $ns: text)};
  outline: 0;
  z-index: 10;

  @include media.ipad(min) {
    @include box.bg(faded);
    @include border.all(secondary);
    @include text.style(sans, $color: main, $size: 12px, $weight: 500);
    accent-color: #{colors.var(accent, $ns: text)};
    appearance: none;
    border-radius: 4px;
    padding: 4px;
  }

  @include media.mouse {
    outline: revert;

    &:focus {
      outline-color: #{colors.var(accent, $ns: text)};
    }
  }
}

.MetadataComponent .topic_attributes select + label {
  position: relative;
  z-index: 11;

  @include icon.before($url: "/images/fa/solid/chevron-up.svg", $size: 10px) {
    color: #{colors.var(quaternary, $ns: text)};
    position: absolute;
    right: -4px;
    top: 3px;
  }

  @include icon.after($url: "/images/fa/solid/chevron-down.svg", $size: 10px) {
    color: #{colors.var(quaternary, $ns: text)};
    position: absolute;
    right: -4px;
    top: 10px;
  }

  @include media.mouse {
    @include icon.before($url: "/images/fa/solid/chevron-up.svg", $size: 8px) {
      right: 4px;
      top: -24px;
    }
  }

  @include media.mouse {
    @include icon.after($url: "/images/fa/solid/chevron-down.svg", $size: 8px) {
      right: 4px;
      top: -18px;
    }
  }
}

//
// Location input
// -----------------------------------------------------------------------------------------------

.MetadataComponent .location_input {
  margin-block-start: 16px;

  @include media.ipad(min) {
    @include border.block-start;
    margin-block-start: 0;

    @media (prefers-color-scheme: dark) {
      @include border.block-start(quaternary);
    }
  }
}

.MetadataComponent .location_input summary {
  @include text.style($color: tertiary, $size: 13px, $weight: 600);
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.05em;
  padding: 8px 8px 8px 20px;
  text-transform: uppercase;
  -webkit-user-select: none;

  @include media.ipad(min) {
    @include icon.after($url: "/images/fa/solid/angle-right.svg", $size: 12px) {
      color: #{colors.var(faded, $ns: text)};
    }
    @include text.style($color: tertiary, $size: 10px, $weight: 700);
    padding-inline-start: 8px;
  }

  &::-webkit-details-marker {
    display: none;
  }

  span {
    flex-grow: 1;
  }

  button {
    @include icon.replace($url: "/images/fa/regular/location-dot-slash.svg", $size: 16px);
    color: #{colors.var(quaternary, $ns: text)};
    margin-inline-end: 8px;
  }
}

.MetadataComponent .location_input[open] summary::after {
  transform: rotate(90deg);
}

.MetadataComponent .location_input .map {
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  overflow: hidden;

  & > div {
    block-size: 100%;
    inline-size: 100%;
  }

  @include media.ipad(max) {
    @include box.bg(main);
    margin: 0 12px 12px 12px;
  }

  @include media.ipad(min) {
    @include box.bg(faded);
    @include border.all(secondary);
    border-radius: 2px;
    margin: 0 8px 8px 8px;
  }
}

//
// Tags input
// -----------------------------------------------------------------------------------------------

.MetadataComponent .tags_input {
  margin-block-start: 16px;

  @include media.ipad(min) {
    @include border.block;
    margin-block-start: 0;

    @media (prefers-color-scheme: dark) {
      @include border.block(quaternary);
    }
  }
}

.MetadataComponent .tags_input summary {
  @include text.style($color: tertiary, $size: 13px, $weight: 600);
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.05em;
  padding: 8px 8px 8px 20px;
  text-transform: uppercase;
  -webkit-user-select: none;

  @include media.ipad(min) {
    @include icon.after($url: "/images/fa/solid/angle-right.svg", $size: 12px) {
      color: #{colors.var(faded, $ns: text)};
    }
    @include text.style($color: tertiary, $size: 10px, $weight: 700);
    padding-inline-start: 8px;
  }

  &::-webkit-details-marker {
    display: none;
  }

  span {
    flex-grow: 1;
  }

  button {
    @include icon.replace($url: "/images/fa/regular/circle-plus.svg", $size: 16px);
    color: #{colors.var(faded, $ns: text)};
    margin-inline-end: 8px;

    @include media.ipad(min) {
      @include icon.replace($url: "/images/fa/regular/circle-plus.svg", $size: 14px);
      color: #{colors.var(quaternary, $ns: text)};
    }
  }
}

.MetadataComponent .tags_input[open] {
  border-block-end: none;
}

.MetadataComponent .tags_input[open] summary::after {
  transform: rotate(90deg);
}

.MetadataComponent .tags_input ul {
  @include media.ipad(max) {
    @include box.bg(main);
    border-radius: 8px;
    margin: 0 12px 0 12px;
  }

  @include media.ipad(min) {
    padding: 0 8px;
    @include border.block-start;
    @media (prefers-color-scheme: dark) {
      @include border.block-start(quaternary);
    }
  }

  &:has(li) {
    @include media.ipad(min) {
      @include border.block-end;

      @media (prefers-color-scheme: dark) {
        @include border.block-end(quaternary);
      }
    }
  }

  li {
    display: flex;
    padding: 4px 0;
  }

  li + li {
    @include border.block-start;
    align-items: center;

    @media (prefers-color-scheme: dark) {
      @include border.block-start(quaternary);
    }
  }
}

.MetadataComponent .tags_input input[type="text"] {
  @include text.style(sans, $color: main, $size: 18px, $weight: 500);
  background-color: transparent;
  border-width: none;
  box-shadow: none;
  flex-grow: 1;
  outline: none;
  padding: 8px;

  @include media.ipad(min) {
    @include text.style(sans, $color: main, $size: 12px, $weight: 500);
  }
}
