// -----------------------------------------------------------------------------------------------
//
// EntriesComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.ComposeComponent {
  background-color: #{palette.stone($lightness: 15%, $alpha: 0.35)};
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;

  @media (prefers-color-scheme: dark) {
    background-color: #{palette.stone($lightness: 2%, $alpha: 0.6)};
  }
}

.ComposeComponent form {
  @include box.bg(secondary);
  border-radius: 8px;
  box-shadow: 0 4px 32px #{palette.stone($lightness: 8%, $alpha: 0.15)};
  display: flex;
  flex-direction: column;
  left: 50%;
  margin: auto;
  min-block-size: 336px;
  min-inline-size: 600px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  @include media.ipad(max) {
    border-radius: 0;
    min-block-size: 100svh;
    min-inline-size: 100svw;
  }
}

//
// Header
// -----------------------------------------------------------------------------------------------

.ComposeComponent header {
  display: contents;

  @include media.ipad(max) {
    @include border.block-end(tertiary);
    @include box.bg(secondary);
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 48px;
    left: 0;
    position: absolute;
    justify-content: space-between;
    padding-block-start: calc(env(safe-area-inset-top, 0));
    padding-inline: 12px;
    right: 0;
    top: 0;
  }
}

//
// Back button
// -----------------------------------------------------------------------------------------------

.ComposeComponent header button {
  @include text.style(sans, $color: accent, $size: 18px, $weight: 600);
  align-items: center;
  appearance: none;
  display: flex;
  background-color: transparent;
  margin-inline-start: -4px;

  @include icon.before($url: "/images/fa/solid/chevron-left.svg", $size: 20px) {
    margin-inline-end: 0;
  }

  @include media.ipad(min) {
    @include text.color(quaternary);
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    padding: 4px;
    position: absolute;
    left: 12px;
    top: 8px;

    @include icon.before($url: "/images/fa/solid/xmark.svg", $size: 20px) {
      margin-inline-end: 0;
    }

    &:hover {
      @include box.bg(quaternary);
    }

    span {
      display: none;
    }
  }
}

//
// Topic selection
// -----------------------------------------------------------------------------------------------

.ComposeComponent header label {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 4px;
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 10;

  @include media.ipad(max) {
    @include border.block-end(tertiary);
    background-color: inherit;
    justify-content: space-between;
    left: 0;
    padding-block: 10px;
    padding-inline: 12px;
    right: 0;
    top: 48px;
  }

  @include icon.after($url: "/images/fa/solid/chevron-down.svg", $size: 10px) {
    color: #{colors.var(quaternary, $ns: text)};
    margin-inline-end: 0;
  }

  &:has(option:first-of-type:checked)::after {
    @include text.color(faded);
  }
}

.ComposeComponent header select {
  @include text.style(sans, $color: tertiary, $size: 18px, $weight: 500);
  background-color: transparent;
  accent-color: #{colors.var(accent, $ns: text)};
  outline: 0;
  text-align: end;

  @include media.ipad(min) {
    @include text.style(sans, $color: tertiary, $size: 14px, $weight: 600);
    accent-color: #{colors.var(accent, $ns: text)};
    appearance: none;
  }

  &:has(option:first-of-type:checked) {
    @include text.color(faded);
  }
}

//
// Content
// -----------------------------------------------------------------------------------------------

.ComposeComponent .content {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-block: 48px;

  @include media.ipad(max) {
    padding-block-start: 88px;
  }
}

//
// Footer
// -----------------------------------------------------------------------------------------------

.ComposeComponent footer {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 48px;
  inline-size: 50%;
  justify-content: end;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;

  @include media.ipad(min) {
    bottom: 0;
    right: 0;
    padding: 8px;
    top: unset;
  }
}

.ComposeComponent footer button {
  background-color: transparent;

  &[value="publish"] {
    @include text.style(sans, $color: accent, $size: 18px, $weight: 700);
  }

  @include media.ipad(min) {
    @include text.style(sans, $color: tertiary, $size: 14px, $weight: 600);
    @include box.bg(quaternary);
    @include box.rounded;
    padding-block: 6px;
    padding-inline: 12px;

    &[value="publish"] {
      @include text.style($size: 14px, $weight: 700);
      background-color: #{colors.var(accent, $ns: text)};
      color: #{palette.stone($lightness: 96%)};
    }
  }

  @include media.ipad(max) {
    &[value="save"] {
      @include icon.replace($url: "/images/fa/regular/floppy-disk.svg", $size: 20px);
      @include text.color(quaternary);
      margin-inline-end: 4px;
    }
  }
}
