// -----------------------------------------------------------------------------------------------
//
// DisplayComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.DisplayComponent {
  background-color: #{palette.stone($lightness: 15%, $alpha: 0.35)};
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;

  @media (prefers-color-scheme: dark) {
    background-color: #{palette.stone($lightness: 2%, $alpha: 0.6)};
  }
}

.DisplayComponent form {
  @include box.bg(secondary);
  block-size: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 32px #{palette.stone($lightness: 8%, $alpha: 0.15)};
  display: grid;
  grid-template-areas: "header aside" "content aside" "footer footer";
  grid-template-columns: 1fr 244px;
  grid-template-rows: 46px 1fr 52px;
  inline-size: 100%;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin: auto;
  max-block-size: 520px;
  max-inline-size: 880px;
  overflow: hidden;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999;

  @include media.ipad(max) {
    border-radius: 0;
    inset: 0;
    grid-template-areas: "header" "footer" "inside";
    grid-template-columns: 1fr;
    grid-template-rows: 48px 0 1fr;
    max-block-size: unset;
    max-inline-size: unset;
    min-block-size: 100svh;
    min-inline-size: 100svw;
    transform: none;
  }
}

.DisplayComponent .inside {
  display: contents;

  @include media.ipad(max) {
    display: block;
    grid-area: inside;
    margin-block-start: 44px;
    max-block-size: 100%;
    overflow-y: scroll;
    z-index: 1;
  }

  @include media.ipad(max) {
    padding-block-end: env(safe-area-inset-bottom, 0);
  }
}

//
// Header
// -----------------------------------------------------------------------------------------------

.DisplayComponent header {
  @include border.block-end(tertiary);
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding-inline: 8px;
  position: relative;
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    @include border.block-start(quaternary);
  }
}

//
// Back button
// -----------------------------------------------------------------------------------------------

.DisplayComponent header a button {
  @include text.style(sans, $color: accent, $size: 18px, $weight: 600);
  align-items: center;
  appearance: none;
  display: flex;
  background-color: transparent;

  @include icon.before($url: "/images/fa/solid/chevron-left.svg", $size: 20px) {
    margin-inline-end: 0;
  }

  @include media.ipad(min) {
    @include text.color(quaternary);
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    padding: 4px;

    @include icon.before($url: "/images/fa/solid/xmark.svg", $size: 20px) {
      margin-inline-end: 0;
    }

    &:hover {
      @include box.bg(quaternary);
    }

    span {
      display: none;
    }
  }
}

//
// Topic select
// -----------------------------------------------------------------------------------------------

.DisplayComponent header label {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 4px;
  z-index: 12;

  @include media.ipad(max) {
    @include border.block-end(tertiary);
    background-color: inherit;
    inset-inline: 0;
    inset-block-start: 48px;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 12px;
    position: absolute;
  }

  @include icon.after($url: "/images/fa/solid/chevron-down.svg", $size: 10px) {
    color: #{colors.var(quaternary, $ns: text)};
    margin-inline-end: 0;
  }

  &:has(option:first-of-type:checked)::after {
    @include text.color(faded);
  }
}

.DisplayComponent header select {
  @include text.style(sans, $color: tertiary, $size: 18px, $weight: 500);
  background-color: transparent;
  accent-color: #{colors.var(accent, $ns: text)};
  outline: 0;
  text-align: end;
  z-index: 12;

  @include media.ipad(min) {
    @include text.style(sans, $color: tertiary, $size: 14px, $weight: 600);
    accent-color: #{colors.var(accent, $ns: text)};
    appearance: none;
  }

  &:has(option:first-of-type:checked) {
    @include text.color(faded);
  }
}

//
// Content
// -----------------------------------------------------------------------------------------------

.DisplayComponent .content {
  grid-area: content;
  position: relative;
  z-index: 1;
}

//
// Aside
// -----------------------------------------------------------------------------------------------

.DisplayComponent .inside > aside {
  padding: 12px;

  @include media.ipad(min) {
    @include border.inline-start(main);
    @include box.bg(quaternary);
    grid-area: aside;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px;
    position: relative;
    z-index: 9999;

    @media (prefers-color-scheme: dark) {
      @include border.inline-start(quaternary);
      @include box.bg(main);
    }
  }

  @include media.ipad(max) {
    display: block;
  }
}

//
// Footer
// -----------------------------------------------------------------------------------------------

.DisplayComponent footer {
  @include box.bg(tertiary);
  @include border.block-start(separator);
  align-items: center;
  display: flex;
  gap: 8px;
  grid-area: footer;
  justify-content: end;
  padding-inline: 8px;
  z-index: 11;

  @include media.ipad(max) {
    background-color: transparent;
    border-block-start: none;
    position: absolute;
    inset-block-start: -38px;
    inset-inline-end: 8px;
  }
}

.DisplayComponent footer button {
  &[value="publish"] {
    @include text.style(sans, $color: accent, $size: 18px, $weight: 700);
  }

  @include media.ipad(min) {
    @include text.style(sans, $color: tertiary, $size: 14px, $weight: 600);
    @include box.bg(control);
    @include box.rounded;
    padding-block: 6px;
    padding-inline: 12px;

    &[phx-click="delete"] {
      @include text.style($size: 14px, $weight: 700);
      background-color: #{palette.red($lightness: 62%)};
      color: #{palette.stone($lightness: 96%)};
      margin-inline-end: auto;
    }

    &[value="publish"] {
      @include text.style($size: 14px, $weight: 700);
      background-color: #{colors.var(accent, $ns: text)};
      color: #{palette.stone($lightness: 96%)};
    }
  }

  @include media.ipad(max) {
    background-color: transparent;
    &[phx-click="delete"] {
      @include icon.replace($url: "/images/fa/regular/trash.svg", $size: 20px);
      color: #{palette.red($lightness: 52%)};
      margin-inline-end: 4px;
    }

    &[value="save"] {
      @include text.style(sans, $color: accent, $size: 18px, $weight: 700);

      span {
        display: none;
      }
    }
  }
}

.DisplayComponent footer:has(button[value="publish"]) button[value="save"] {
  @include media.ipad(max) {
    @include icon.replace($url: "/images/fa/regular/floppy-disk.svg", $size: 20px);
    @include text.color(quaternary);
    margin-inline-end: 4px;
  }
}
