// -----------------------------------------------------------------------------------------------
//
// LocationComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent {
  block-size: 100%;
  display: flex;
  gap: 12px;
  padding-inline: 12px;

  @include media.ipad(max) {
    flex-direction: column-reverse;
    padding-block-start: 12px;
  }
}

//
// Map
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent .map {
  @include box.bg(faded);
  @include border.all(secondary);
  block-size: 100%;
  border-radius: 4px;
  flex-basis: 50%;
}

//
// Locations
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent .locations {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

//
// Search Input
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent input[type="search"] {
  @include box.bg(main);
  @include border.all(tertiary);
  @include text.style(sans, $color: main, $size: 16px, $weight: 500);
  -webkit-appearance: none;
  border-radius: 4px;
  margin-block-end: 8px;
  padding: 4px;

  @include media.ipad(max) {
    @include text.style(sans, $color: main, $size: 18px, $weight: 500);
    padding-block: 8px;
  }
}

//
// Location Options
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent ul {
  @include text.style($color: tertiary, $size: 18px, $weight: 500);
  flex-grow: 1;
  max-block-size: 100%;
  overflow-y: auto;
}

.JournalLive_LocationComponent ul li {
  @include icon.before($url: "/images/fa/regular/location-dot.svg", $size: 20px) {
    background-color: #{colors.var(faded, $ns: text)};
    transform: translateY(1px);
  }
  align-content: center;
  border-radius: 4px;
  cursor: default;
  display: flex;
  padding-block: 8px;
  -webkit-user-select: none;

  address {
    @include text.style($color: quaternary, $size: 12px, $weight: 500);
  }

  @include media.ipad(min) {
    @include icon.before($url: "/images/fa/regular/location-dot.svg", $size: 16px) {
      background-color: #{colors.var(faded, $ns: text)};
      transform: translateY(0.5px);
    }
    @include text.size(14px);
    padding-block: 4px;
  }

  &:hover {
    @include text.color(main);
    &::before {
      background-color: #{colors.var(tertiary, $ns: text)};
    }
  }
}

.JournalLive_LocationComponent ul li[data-category="Brewery"] {
  @include icon.before($url: "/images/fa/regular/beer-mug.svg", $size: 20px) {
    background-color: #{colors.var(faded, $ns: text)};
    transform: translateY(1px);
  }

  @include media.ipad(min) {
    @include icon.before($url: "/images/fa/regular/beer-mug.svg", $size: 16px) {
      background-color: #{colors.var(faded, $ns: text)};
      transform: translateY(0.5px);
    }
  }
}

.JournalLive_LocationComponent ul li[data-category="Cafe"] {
  @include icon.before($url: "/images/fa/regular/mug.svg", $size: 20px) {
    background-color: #{colors.var(faded, $ns: text)};
    transform: translateY(1px);
  }

  @include media.ipad(min) {
    @include icon.before($url: "/images/fa/regular/mug.svg", $size: 16px) {
      background-color: #{colors.var(faded, $ns: text)};
      transform: translateY(0.5px);
    }
  }
}

.JournalLive_LocationComponent ul li[data-category="FoodMarket"],
.JournalLive_LocationComponent ul li[data-category="Restaurant"] {
  @include icon.before($url: "/images/fa/regular/baguette.svg", $size: 20px) {
    background-color: #{colors.var(faded, $ns: text)};
    transform: translateY(1px);
  }

  @include media.ipad(min) {
    @include icon.before($url: "/images/fa/regular/baguette.svg", $size: 16px) {
      background-color: #{colors.var(faded, $ns: text)};
      transform: translateY(0.5px);
    }
  }
}

//
// Location Selection
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent p {
  @include text.style($color: accent, $size: 18px, $weight: 600);
  display: flex;
  justify-content: center;

  &:has(span) {
    @include border.block-start(tertiary);
    margin-block-end: -4px;
    padding-block-start: 8px;
  }

  @include media.ipad(min) {
    @include text.size(14px);

    &:has(span) {
      @include border.block-end(tertiary);
      margin-block-end: 0;
      padding-block-end: 8px;
    }
  }

  span {
    @include icon.before($url: "/images/fa/solid/location-dot.svg", $size: 20px) {
      transform: translateY(1px);
    }

    @include media.ipad(min) {
      @include icon.before($url: "/images/fa/solid/location-dot.svg", $size: 16px) {
        transform: translateY(0.5px);
      }
    }
    align-content: center;
    display: flex;
  }
}
