// -----------------------------------------------------------------------------------------------
//
// LocationComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent {
  @include border.block-start(main);
  display: flex;
  flex-direction: column;
  padding-block-start: 8px;
  position: relative;

  @include media.ipad(max) {
    border-block-start: none;
    padding-block-start: 18px;
  }
}

//
// Map
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent .map {
  @include box.bg(faded);
  @include border.all(main);
  aspect-ratio: 3/2;
  border-block-end: 0;
  border-radius: 4px 4px 0 0;
  inline-size: 100%;
  overflow: hidden;
  z-index: 1;

  @include media.ipad(max) {
    aspect-ratio: unset;
    block-size: 240px;
    inline-size: calc(100% + 24px);
    margin-inline: -12px;
  }
}

//
// Location Selection
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent p {
  @include border.all(secondary);
  @include box.bg(main);
  @include text.style($color: accent, $size: 18px, $weight: 600);
  align-items: center;
  min-block-size: 48px;
  display: flex;
  justify-content: start;
  padding-inline: 12px;

  @include media.ipad(min) {
    @include box.bg(tertiary);
    @include border.all(main);
    @include text.size(12px);
    min-block-size: 32px;
    border-radius: 0 0 4px 4px;
    margin-block-start: 0;
    min-block-size: 32px;
    padding-inline: 6px;
  }

  @include media.ipad(max) {
    margin-inline: -12px;
  }

  span {
    @include icon.before($url: "/images/fa/solid/location-dot.svg", $size: 20px) {
      color: #{colors.var(faded, $ns: text)};
      transform: translateY(2.5px);
    }

    @include media.ipad(min) {
      @include icon.before($url: "/images/fa/solid/location-dot.svg", $size: 12px) {
        color: #{colors.var(faded, $ns: text)};
        transform: translateY(1.5px);
      }
    }

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

//
// Locations
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent .locations {
  display: flex;
  margin-block-start: 8px;
}

//
// Search Input
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent .locations input[type="search"] {
  @include border.all(main);
  @include box.bg(main);
  @include text.style(sans, $color: main, $size: 13px, $weight: 500);
  -webkit-appearance: none;
  border-radius: 4px 0 0 4px;
  inline-size: calc(100% - 28px);
  padding: 2px 8px;

  &::placeholder {
    @include text.color(faded);
  }

  &::-webkit-search-cancel-button {
    margin-inline-end: -16px;
  }

  @include media.ipad(max) {
    @include text.style(sans, $color: main, $size: 18px, $weight: 500);
    padding-block: 8px;
  }
}

.JournalLive_LocationComponent .locations button:has(span) {
  @include box.bg(control);
  @include icon.before($url: "/images/fa/solid/magnifying-glass.svg", $size: 16px) {
    transform: translate(1px, 1px);
  }
  border-radius: 0 4px 4px 0;
  color: #{colors.var(quaternary, $ns: text)};
  inline-size: 40px;

  @include media.ipad(min) {
    @include icon.before($url: "/images/fa/solid/magnifying-glass.svg", $size: 12px) {
      transform: translate(1px, 1px);
    }
    inline-size: 28px;
  }

  span {
    display: none;
  }
}

//
// Location Options
// -----------------------------------------------------------------------------------------------

.JournalLive_LocationComponent dialog {
  block-size: 100%;
  border-radius: 8px;
  flex-direction: column;
  gap: 8px;
  inline-size: 100%;
  margin: auto;
  max-block-size: 480px;
  max-inline-size: min(calc(100% - 32px), 400px);
  padding: 16px;

  &[open] {
    display: flex;
  }

  &::backdrop {
    background-color: #{palette.stone($lightness: 15%, $alpha: 0.35)};
    @media (prefers-color-scheme: dark) {
      background-color: #{palette.stone($lightness: 2%, $alpha: 0.6)};
    }
  }
}

.JournalLive_LocationComponent ul {
  @include text.style($color: tertiary, $size: 18px, $weight: 500);
  flex-grow: 1;
  overflow-y: auto;
}

.JournalLive_LocationComponent ul li {
  @include border.all(quaternary);
  @include box.bg(secondary);
  @include icon.before($url: "/images/fa/regular/location-dot.svg", $size: 20px) {
    background-color: #{colors.var(faded, $ns: text)};
    transform: translateY(1px);
  }
  align-content: center;
  border-radius: 4px;
  cursor: default;
  display: flex;
  max-inline-size: 100%;
  padding-block: 8px;
  padding-inline: 8px;
  -webkit-user-select: none;

  b {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  address {
    @include text.style($color: quaternary, $size: 12px, $weight: 500);
  }

  @include media.ipad(min) {
    @include icon.before($url: "/images/fa/regular/location-dot.svg", $size: 16px) {
      background-color: #{colors.var(faded, $ns: text)};
      transform: translateY(0.5px);
      flex-shrink: 0;
    }
    @include text.size(14px);
    padding-block: 4px;
  }

  &:hover {
    @include text.color(main);
    &::before {
      background-color: #{colors.var(tertiary, $ns: text)};
    }
  }
}

.JournalLive_LocationComponent dialog button {
  @include box.bg(faded);
  @include text.style(sans, $color: main, $size: 18px, $weight: 600);
  padding: 8px;
  border-radius: 4px;

  @include media.ipad(min) {
    @include text.size(14px);
  }
}

@each $category, $icon in (Brewery: beer-mug, Cafe: mug, FoodMarket: baguette, Restaurant: baguette) {
  .JournalLive_LocationComponent ul li[data-category="#{$category}"] {
    @include icon.before($url: "/images/fa/regular/#{$icon}.svg", $size: 20px) {
      background-color: #{colors.var(faded, $ns: text)};
      transform: translateY(1px);
      flex-shrink: 0;
    }

    @include media.ipad(min) {
      @include icon.before($url: "/images/fa/solid/#{$icon}.svg", $size: 16px) {
        background-color: #{colors.var(faded, $ns: text)};
        transform: translateY(0.5px);
        flex-shrink: 0;
      }
    }
  }
}
