// -----------------------------------------------------------------------------------------------
//
// SidebarComponent Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.JournalLive_SidebarComponent {
  display: contents;
}

//
// Tabs
// -----------------------------------------------------------------------------------------------

.JournalLive_SidebarComponent .tabs {
  @include text.color(quaternary);
  align-items: center;
  block-size: 48px;
  display: flex;
  gap: 24px;
  inline-size: 50%;
  inset-block-end: env(safe-area-inset-bottom);
  inset-inline-start: 0;
  padding: 16px;
  position: absolute;
}

.JournalLive_SidebarComponent .tabs li {
  cursor: default;
  -webkit-user-select: none;

  &[phx-value-tab="date"] {
    @include icon.replace($url: "/images/fa/regular/calendar-clock.svg", $size: 20px);
  }

  &[phx-value-tab="location"] {
    @include icon.replace($url: "/images/fa/regular/location-dot.svg", $size: 20px);
  }

  &[phx-value-tab="tags"] {
    @include icon.replace($url: "/images/fa/regular/hashtag.svg", $size: 20px);
  }
}

// .JournalLive_SidebarComponent .tabs:has([aria-selected="true"]) li[phx-value-tab]:not([aria-selected="true"]) {
//   @include text.color(faded);
// }

.JournalLive_SidebarComponent .tabs li[phx-value-tab][aria-selected="true"] {
  @include text.color(accent);
}

//
// Panels
// -----------------------------------------------------------------------------------------------

.JournalLive_SidebarComponent [role="tabpanel"] {
  @include box.bg(secondary);
  inset-block-start: calc(env(safe-area-inset-top) + 48px);
  inset-block-end: calc(env(safe-area-inset-bottom) + 48px);
  inset-inline: 0;
  position: absolute;
  z-index: 88;

  @include media.ipad(min) {
    top: 40px;
  }
}

.JournalLive_SidebarComponent [role="tabpanel"][aria-hidden="true"] {
  display: none;
}

.JournalLive_SidebarComponent [role="tabpanel"][aria-hidden="false"] {
  display: unset;
}
