<section class="journal">
  <.section_header>
    Journal 🙃
  </.section_header>
  
  <article class="EntriesComponent">
    <article class="note">
      <div>
      <header>
        <h1><b>Springfield, MO, United States</b> at <b>Cherry Picker</b></h1>
        <p>14 June 2022  ·  04:20</p>
      </header>
      <p>Nothing says “long flight to Europe” like Nescafé.</p>
      
      <footer>
        <ul>
          <li class="replies"><data>5</data> <span>Replies</span></li>
          <li class="likes"><data>9</data> <span>Likes</span></li>
          <li class="reposts"><data>1</data> <span>Repost</span></li>
          <li class="bookmarks"><data>3</data> <span>Bookmarks</span></li>
        </ul>
      </footer>
      </div>
    </article>
    
    <article class="note">
      <div>
      <header>
        <h1><b>Springfield, MO, United States</b> at <b>Cherry Picker</b></h1>
        <p>14 June 2022  ·  04:20</p>
      </header>
      <p>Sometimes I think that I'm not ever going to get this done. Its hard to tell though, really. Maybe I am just lazy?</p>
      
      <footer>
        <ul>
          <li class="replies"><data>5</data> <span>Replies</span></li>
          <li class="likes"><data>9</data> <span>Likes</span></li>
          <li class="reposts"><data>1</data> <span>Repost</span></li>
          <li class="bookmarks"><data>3</data> <span>Bookmarks</span></li>
        </ul>
      </footer>
      </div>
    </article>
    
    <article class="note">
      <div>
      <header>
        <h1><b>Springfield, MO, United States</b> at <b>Cherry Picker</b></h1>
        <p>14 June 2022  ·  04:20</p>
      </header>
      <p>Anyone know how to keep a Gmail address from showing up in Google Calendar? I don’t use GCal but its constantly hijacking my event invites with my little-used Gmail address because of autocomplete.</p>
      
      <footer>
        <ul>
          <li class="replies"><data>5</data> <span>Replies</span></li>
          <li class="likes"><data>9</data> <span>Likes</span></li>
          <li class="reposts"><data>1</data> <span>Repost</span></li>
          <li class="bookmarks"><data>3</data> <span>Bookmarks</span></li>
        </ul>
      </footer>
      </div>
    </article>
    
    <article class="note">
      <div>
      <header>
        <h1><b>Springfield, MO, United States</b> at <b>Cherry Picker</b></h1>
        <p>14 June 2022  ·  04:20</p>
      </header>
      <p>Nothing says “long flight to Europe” like Nescafé.</p>
      
      <footer>
        <ul>
          <li class="replies"><data>5</data> <span>Replies</span></li>
          <li class="likes"><data>9</data> <span>Likes</span></li>
          <li class="reposts"><data>1</data> <span>Repost</span></li>
          <li class="bookmarks"><data>3</data> <span>Bookmarks</span></li>
        </ul>
      </footer>
      </div>
    </article>
    
    <article class="note">
      <div>
      <header>
        <h1><b>Springfield, MO, United States</b> at <b>Cherry Picker</b></h1>
        <p>14 June 2022  ·  04:20</p>
      </header>
      <p>Sometimes I think that I'm not ever going to get this done. Its hard to tell though, really. Maybe I am just lazy?</p>
      
      <footer>
        <ul>
          <li class="replies"><data>5</data> <span>Replies</span></li>
          <li class="likes"><data>9</data> <span>Likes</span></li>
          <li class="reposts"><data>1</data> <span>Repost</span></li>
          <li class="bookmarks"><data>3</data> <span>Bookmarks</span></li>
        </ul>
      </footer>
      </div>
    </article>
    
    <article class="note">
      <div>
      <header>
        <h1><b>Springfield, MO, United States</b> at <b>Cherry Picker</b></h1>
        <p>14 June 2022  ·  04:20</p>
      </header>
      <p>Anyone know how to keep a Gmail address from showing up in Google Calendar? I don’t use GCal but its constantly hijacking my event invites with my little-used Gmail address because of autocomplete.</p>
      
      <footer>
        <ul>
          <li class="replies"><data>5</data> <span>Replies</span></li>
          <li class="likes"><data>9</data> <span>Likes</span></li>
          <li class="reposts"><data>1</data> <span>Repost</span></li>
          <li class="bookmarks"><data>3</data> <span>Bookmarks</span></li>
        </ul>
      </footer>
      </div>
    </article>
  </article>
</section>