@use '../../utils/grid';
@use '../../utils/text';
@use '../../utils/val';

.footer-info {
  @include text.style(sans, $step: -2, $weight: 400);
  --cluster-justify: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  row-gap: #{val.fragments(1)};
  text-align: center;

  @include grid.columns(6) {
    --cluster-justify: initial;
    line-height: #{val.fragments(2)};
    row-gap: #{val.fragments(2)};
    text-align: initial;
  }

  ul {
    row-gap: 0;
  }
}
