// -----------------------------------------------------------------------------------------------
//
// Main Header Component
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/icon';
@use '../../utils/position';
@use '../../utils/text';

//
// Main container
// -----------------------------------------------------------------------------------------------

.layout-header {
  padding-block: calc(var(--fragment) * 10);
  position: relative;

  nav {
    order: -1;
  }

  p {
    @include text.style(sans, $step: -1, $color: tertiary, $weight: 500);
  }
}

//
// Knot background
// -----------------------------------------------------------------------------------------------

.layout-header::after {
  @include icon.block(--knot-size);
  @include icon.mask(--knot-size, "/images/knot.svg");
  @include position.center;
  --knot-size: calc(var(--rhythm) * 4);
  background-color: var(--color-faded-bg);
  z-index: -1;
}
