//
// Logo component
// -----------------------------------------------------------------------------------------------

.logo {
  font-family: var(--font-display);
  font-size: var(--logo-size, var(--text-step-3));
  font-weight: 800;
  letter-spacing: -0.015em;
  line-height: 1;
  text-transform: lowercase;
  word-spacing: -0.03em;

  a {
    color: var(--logo-color, var(--color-emphasized-text));
    text-decoration: none;
    &:hover {
      color: var(--logo-color-hover, var(--color-secondary-text));
    }
  }
}
