// -----------------------------------------------------------------------------------------------
//
// Logo component
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/text';
@use '../../utils/val';

//
// Main component
// -----------------------------------------------------------------------------------------------

.logo {
  @include text.step(3, $var: --logo-size);
  @include text.style(display, $kern: tight, $weight: 800);
  @include text.word-spacing(tight);
  line-height: val.rhythm(2);
  text-transform: lowercase;

  a {
    color: var(--logo-color, var(--color-emphasized-text));
    text-decoration: none;
    &:hover {
      color: var(--logo-color-hover, var(--color-secondary-text));
    }
  }
}
