// -----------------------------------------------------------------------------------------------
//
// Website Header Component
// The website header contains a logo, the main navigation, and a quirky tagline.
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";
@use '../../utils/icon';
@use '../../utils/layout';
@use '../../utils/position';
@use '../../utils/text';
@use '../../utils/val';

//
// Main container
// -----------------------------------------------------------------------------------------------

header[role="banner"] {
  @include layout.center;
  @include layout.wrapper;
  padding-block-end: #{val.fragments(14)};
  padding-block-start: calc(#{val.fragments(14)} + env(safe-area-inset-top, 0));
  position: relative;
  z-index: 1;
}

//
// Home link / Logo
// -----------------------------------------------------------------------------------------------

header[role="banner"] a[role="home"] {
  color: var(--logo-color, var(--color-emphasized-text));
  text-decoration: none;
  &:hover {
    color: var(--logo-color-hover, var(--color-secondary-text));
  }

  svg {
    height: #{val.fragments(10)};
    margin-block: #{val.fragments(1)};
    width: auto;
  }
}

//
// Tagline
// -----------------------------------------------------------------------------------------------

header[role="banner"] p {
  @include text.style(sans, $step: -1, $color: tertiary, $weight: 500);
  text-align: center;
}

//
// Main navigation
// -----------------------------------------------------------------------------------------------

header[role="banner"] nav {
  order: -1;

  ul {
    @include layout.cluster($justify: center);
    @include text.style(sans, $kern: loose, $step: -3, $weight: 800);
    list-style: none;
    text-transform: uppercase;

    a {
      @include text.color(secondary);
      &:hover {
        @include text.color(tertiary);
      }
    }
  }
}

//
// Knot background
// -----------------------------------------------------------------------------------------------

header[role="banner"]::after {
  @include icon.block(--knot-size);
  @include icon.mask(--knot-size, "/images/knot.svg");
  @include position.center;
  --knot-size: #{val.rhythm(6)};
  background-color: #{palette.stone($lightness: 4%, $alpha: 0.05)};
  mix-blend-mode: overlay;
  z-index: -1;

  @media (prefers-color-scheme: dark) {
    background-color: #{palette.stone($lightness: 4%, $alpha: 0.15)};
    mix-blend-mode: hard-light;
  }
}
