<header role="banner">
  <h1><%= link "Jeremy Boles", to: "/" %></h1>
  <ul>
    <li><%= link "Essays", to: "/essays" %></li>
    <li><%= link "Journal", to: "/journal" %></li>
    <li><%= link "Wiki", to: "/wiki" %></li>
    <li><%= link "Calendar", to: "/calendar" %></li>
    <li><%= link "Map", to: "/map" %></li>
  </ul>
</header>