<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><%= view_module(@conn).title(view_template(@conn), assigns) %></title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover, width=device-width">
      
    <meta content="hsl(25deg, 10%, 92%)" media="(prefers-color-scheme: light)" name="theme-color">
    <meta content="hsl(25deg, 10%, 14%)" media="(prefers-color-scheme: dark)" name="theme-color">
    
    <link href={Routes.static_path(@conn, "/images/favicon.png")} rel="icon" type="image/png" >
    <link href={Routes.static_path(@conn, "/assets/templates/layout/root.css")} rel="stylesheet">
    <link href={Routes.static_path(@conn, "/assets/templates/layout/site.css")} rel="stylesheet">
    <%= for stylesheet <- view_module(@conn).stylesheets(view_template(@conn), assigns) do %>
      <link href={Routes.static_path(@conn, stylesheet)} rel="stylesheet">
    <% end %>
  </head>
  <body>
    <%= @inner_content %>
    <.grid />
  </body>
</html>
