// -----------------------------------------------------------------------------------------------
//
// Article List Component
// Lists all of the wiki articles, potentially in a hierarchy.
//
// -----------------------------------------------------------------------------------------------

//
// Main container
// -----------------------------------------------------------------------------------------------

.article_list {
  padding: 8px;
  position: relative;
  z-index: 3;
}
