// -----------------------------------------------------------------------------------------------
//
// Breadcrumbs Component
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../assets/css/palette";

@use "../../utils/border";
@use "../../utils/box";
@use "../../utils/colors";
@use "../../utils/icon";
@use "../../utils/media";
@use "../../utils/text";

//
// Main container
// -----------------------------------------------------------------------------------------------

.breadcrumbs {
  @include border.block-end(separator);
  @include box.bg(secondary);
  align-items: stretch;
  block-size: 40px;
  display: flex;
  left: env(safe-area-inset-left, 0);
  padding-inline: 12px;
  position: fixed;
  right: env(safe-area-inset-right, 0);
  top: calc(env(safe-area-inset-top) + 48px);
  z-index: 1;

  @include media.mouse {
    block-size: 32px;
    left: calc(env(safe-area-inset-left) + 264px);
    top: calc(env(safe-area-inset-top) + 98px);
  }

  @include media.ipad(max) {
    display: none;
  }

  nav {
    display: contents;
  }
}

//
// Article list
// -----------------------------------------------------------------------------------------------

.breadcrumbs ol {
  @include text.style($size: 16px, $weight: 500);
  align-items: center;
  display: flex;
  gap: 8px;

  @include media.mouse {
    @include text.size(12px);
  }
}

//
// Article
// -----------------------------------------------------------------------------------------------

.breadcrumbs li + li {
  @include icon.before($url: "/images/fa/solid/angle-right.svg", $size: 10px) {
    @include text.color(faded);
    margin-inline-end: 8px;
    transform: translateY(1px);
  }
}
