<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag() %>
    
    <meta name="theme-color" content="hsl(25deg, 10%, 88%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(25deg, 10%, 15%)" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <%= live_title_tag assigns[:page_title] || "Bainistigh", suffix: " · Bainistigh" %>
    <link href={Routes.static_path(@conn, "/assets/app.css")} phx-track-static rel="stylesheet">
    
    <script defer src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
    <script phx-track-static src={Routes.static_path(@conn, "/assets/app.js")} type="module"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
