<section>
  <.appeal title="Get in Touch">
    I love hearing from people and I try my best to respond to each message that I get. The easiest way to a get
     ahold of me is to use the form here on this page. If you’d prefer to reach out another way, there are some
     other options listed below. <b>Please don’t be shy!</b> Reach out and say hello.
  </.appeal>

  
  <.contact_form />
</section>

