// -----------------------------------------------------------------------------------------------
//
// Calendar Index Page Layout Styles
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/val';

//
// Imports for components used on page
// -----------------------------------------------------------------------------------------------

@import url("/assets/components/calendar.css");
@import url("/assets/components/shared.css");

//
// Main container
// -----------------------------------------------------------------------------------------------

main > div {
  @include layout.grid;
  @include layout.wrapper;
  padding-bottom: #{val.rhythm(2)};
  row-gap: #{val.rhythm(1)};

  @include grid.columns(12) {
    .section_header {
      grid-column-end: span 4;
    }

    .chronology {
      grid-column-end: span 5;
      grid-column-start: 5;
    }

    aside {
      grid-column-start: 10;
    }
  }

  @include grid.columns(16) {
    .section_header {
      grid-column-end: span 3;
    }

    .chronology {
      grid-column-end: span 7;
      grid-column-start: 5;
    }

    aside {
      grid-column-end: span 3;
      grid-column-start: 13;
    }
  }
}

//
// Side bar
// -----------------------------------------------------------------------------------------------

main > div aside {
  @include layout.flow;
}
