@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Website "sidebar" styles
// -----------------------------------------------------------------------------------------------

aside[role='complementary'] {
  @include layout.gutters;

  --background-color: #{palette.stone($lightness: 82%)};
  --padding: #{rhythm.lines(1)};

  @include layout.six-column {
    --padding: #{rhythm.lines(2)};
  }

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 11%)};
  }

  background-color: var(--background-color);
  padding-bottom: var(--padding);
  padding-top: var(--padding);

  & > div {
    @include layout.center;
    @include layout.grid;

    align-items: start;
    grid-template-areas: 'biography' 'navigation' 'elsewhere';
    row-gap: #{rhythm.lines(1)};

    @include layout.two-column {
      grid-template-areas:
        'biography biography'
        'navigation navigation'
        'elsewhere elsewhere';
    }

    @include layout.three-column {
      grid-template-areas:
        'biography biography biography'
        'navigation navigation navigation'
        'elsewhere elsewhere elsewhere';
    }

    @include layout.four-column {
      grid-template-areas:
        'biography biography biography biography'
        'navigation navigation elsewhere elsewhere';
    }

    @include layout.five-column {
      grid-template-areas:
        'biography biography biography biography biography'
        'navigation navigation navigation elsewhere elsewhere';
    }

    @include layout.six-column {
      grid-template-areas:
        'biography biography biography biography biography biography'
        'navigation navigation navigation elsewhere elsewhere elsewhere';
    }

    @include layout.eight-column {
      grid-template-areas:
        'navigation navigation navigation biography biography biography biography biography'
        'elsewhere elsewhere elsewhere biography biography biography biography biography';
    }

    @include layout.twelve-column {
      grid-template-areas: 'navigation navigation navigation elsewhere elsewhere elsewhere biography biography biography biography biography biography';
    }

    @include layout.sixteen-column {
      grid-template-areas: 'navigation navigation navigation navigation elsewhere elsewhere elsewhere elsewhere . . biography biography biography biography biography biography';
    }
  }
}

//
// Footer navigation
// -----------------------------------------------------------------------------------------------

aside[role='complementary'] > div > nav {
  @extend %container;

  grid-area: navigation;

  h3 {
    @extend %title;
  }

  ul {
    @extend %links;
  }
}

//
// Social (i.e. "elsewhere") links
// -----------------------------------------------------------------------------------------------

body > aside[role='complementary'] > div > div {
  @extend %container;

  grid-area: elsewhere;

  h3 {
    @extend %title;
  }

  ul {
    @extend %links;
  }

  ul > li > a:hover {
    --text-decoration-color: #{palette.stone($lightness: 61%)};

    @media (prefers-color-scheme: dark) {
      --text-decoration-color: #{palette.stone($lightness: 36%)};
    }

    text-decoration: underline;
    text-decoration-color: var(--text-decoration-color);
  }

  ul > li > a::before {
    --background-color: #{palette.stone($lightness: 62%)};
    --mask-size: calc(var(--size) - 0.5px);
    --size: #{rhythm.fragments(3, -1)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 36%)};
      --text-decoration-color: #{palette.stone($lightness: 36%)};
    }

    background-color: var(--background-color);
    content: '';
    display: inline-block;
    height: var(--size);
    margin-right: #{rhythm.fragments(1, -1)};
    mask-position: left center;
    mask-repeat: no-repeat;
    mask-size: var(--mask-size) var(--mask-size);
    vertical-align: text-bottom;
    width: var(--size);
  }

  ul > li > a:link:hover::before {
    --background-color: #{palette.blue($lightness: 46%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.blue($lightness: 52%)};
    }
  }

  ul > li > a:visited:hover::before {
    --background-color: #{palette.purple($lightness: 46%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.purple($lightness: 52%)};
    }
  }

  ul > li > a:active:hover::before {
    --background-color: #{palette.red($lightness: 46%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.red($lightness: 44%)};
    }
  }

  ul > li > [href*='boles.social']::before {
    mask-image: url('/images/fa/brands/mastodon.svg');
  }

  ul > li > [href*='facebook.com']::before {
    mask-image: url('/images/fa/brands/facebook.svg');
  }

  ul > li > [href*='github.com']::before {
    mask-image: url('/images/fa/brands/github.svg');
  }

  ul > li > [href*='instagram.com']::before {
    mask-image: url('/images/fa/brands/instagram.svg');
  }

  ul > li > [href*='twitter.com']::before {
    mask-image: url('/images/fa/brands/twitter.svg');
  }
}

///
// Biography
// -----------------------------------------------------------------------------------------------

body > aside[role='complementary'] > div > article {
  align-content: start;
  align-items: start;
  display: grid;
  gap: var(--layout-gap);
  grid-area: biography;
  grid-template-areas: 'heading' 'picture' 'copy';
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  @include layout.two-column {
    grid-template-areas:
      'heading heading'
      'picture picture'
      'copy copy';
    grid-template-columns: repeat(2, 1fr);
  }

  @include layout.three-column {
    grid-template-areas:
      'heading heading heading'
      'picture copy copy';
    grid-template-columns: repeat(3, 1fr);
  }

  @include layout.four-column {
    grid-template-areas:
      'picture heading heading heading'
      'picture copy copy copy';
    grid-template-columns: repeat(4, 1fr);
  }

  @include layout.five-column {
    grid-template-areas:
      'picture heading heading heading heading'
      'picture copy copy copy copy';
    grid-template-columns: repeat(5, 1fr);
  }

  @include layout.six-column {
    grid-template-areas:
      'picture picture heading heading heading heading'
      'picture picture copy copy copy copy';
    grid-template-columns: repeat(6, 1fr);
  }

  @include layout.eight-column {
    grid-row-gap: #{rhythm.fragments(2)};
    grid-template-areas:
      'heading heading heading heading heading'
      'picture picture copy copy copy';
    grid-template-columns: repeat(5, 1fr);
  }

  @include layout.twelve-column {
    grid-template-areas:
      'heading heading heading heading heading heading'
      'picture picture copy copy copy copy';
    grid-template-columns: repeat(6, 1fr);
  }

  @include layout.sixteen-column {
    grid-row-gap: #{rhythm.fragments(2)};
    grid-template-areas:
      'picture picture heading heading heading heading'
      'picture picture copy copy copy copy';
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr;
  }

  h2 {
    @include fonts.sans;
    @include rhythm.font-size(1);

    grid-area: heading;
  }

  p {
    @include fonts.serif;
    @include rhythm.font-size(-1);

    --color: #{palette.stone($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 77%)};
    }

    color: var(--color);
    font-weight: 300;
    grid-area: copy;
    max-width: 72ch;

    a {
      --color: #{palette.stone($lightness: 32%)};
      --text-decoration-color: transparent;

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 77%)};
      }

      color: var(--color);
      text-decoration-color: var(--text-decoration-color);
    }

    a:hover {
      --color: #{palette.stone($lightness: 24%)};
      --text-decoration-color: #{palette.stone($lightness: 48%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.stone($lightness: 88%)};
        --text-decoration-color: #{palette.stone($lightness: 52%)};
      }
    }
  }

  p > b {
    @include fonts.sans;
    @include rhythm.font-size(-2);

    --color: #{palette.stone($lightness: 64%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 58%)};
    }

    color: var(--color);
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;

    a {
      --color: #{palette.orange($lightness: 50%)};
      --text-decoration-color: #{palette.orange($lightness: 74%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.orange($lightness: 44%)};
        --text-decoration-color: #{palette.orange($lightness: 21%)};
      }

      color: var(--color);
      font-weight: 900;
      letter-spacing: 0.125em;
      text-decoration-color: var(--text-decoration-color);
    }

    a:hover {
      --color: #{palette.orange($lightness: 38%)};
      --text-decoration-color: #{palette.orange($lightness: 42%)};

      @media (prefers-color-scheme: dark) {
        --color: #{palette.orange($lightness: 52%)};
        --text-decoration-color: #{palette.orange($lightness: 46%)};
      }
    }
  }

  picture {
    border-radius: 0.125em;
    display: block;
    grid-area: picture;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      width: 100%;
    }
  }
}

//
// Abstract classes
// -----------------------------------------------------------------------------------------------

%container {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include layout.four-column {
    align-items: start;
  }
}

%links {
  display: contents;
  list-style: none;

  & > li {
    @include fonts.sans;
    @include layout.outdent;
    @include rhythm.font-size(-1);

    font-weight: 500;
  }

  & > li a {
    --color: #{palette.stone($lightness: 42%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 72%)};
    }

    color: var(--color);
    text-decoration: none;
  }

  & > li a:hover {
    --color: #{palette.stone($lightness: 28%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 86%)};
    }
  }
}

%title {
  @include fonts.sans;
  @include rhythm.font-size(-2);

  --color: #{palette.stone($lightness: 25%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 52%)};
  }

  color: var(--color);
  font-weight: 800;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
