@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/icon";
@use "../utils/layout";
@use "../utils/media";
@use "../utils/rhythm";

//
// Website footer styles
// -----------------------------------------------------------------------------------------------

footer[role='contentinfo'] {
  @include layout.gutters;
  @include media.dark(background-color, palette.stone($lightness: 12%), palette.stone($lightness: 5%));
  --footer-padding: #{rhythm.fragments(6)};
  padding-bottom: calc(var(--footer-padding) + env(safe-area-inset-bottom, 0));
  padding-top: var(--footer-padding);

  & > div {
    @include layout.center;
    @include layout.grid;

    align-items: center;
    gap: #{rhythm.lines(1)};
    grid-template-areas: 'wordmark' 'navigation' 'copyright';

    @include layout.two-column {
      grid-template-areas:
        'wordmark wordmark'
        'navigation navigation'
        'copyright copyright';
    }

    @include layout.three-column {
      grid-template-areas:
        'wordmark wordmark wordmark'
        'navigation navigation navigation'
        'copyright copyright copyright';
    }

    @include layout.four-column {
      grid-template-areas:
        'wordmark wordmark wordmark wordmark'
        'navigation navigation navigation navigation'
        'copyright copyright copyright copyright';
    }

    @include layout.five-column {
      grid-template-areas:
        'wordmark wordmark wordmark wordmark wordmark'
        'navigation navigation navigation navigation navigation'
        'copyright copyright copyright copyright copyright';
    }

    @include layout.six-column {
      grid-template-areas:
        'navigation navigation navigation wordmark wordmark wordmark'
        'copyright copyright copyright wordmark wordmark wordmark';
    }

    @include layout.eight-column {
      grid-template-areas:
        'navigation navigation navigation navigation navigation wordmark wordmark wordmark'
        'copyright copyright copyright copyright copyright wordmark wordmark wordmark';
    }

    @include layout.twelve-column {
      grid-template-areas:
        'navigation navigation navigation navigation navigation navigation navigation navigation wordmark wordmark wordmark wordmark'
        'copyright copyright copyright copyright copyright copyright copyright copyright wordmark wordmark wordmark wordmark';
      row-gap: 0;
    }

    @include layout.sixteen-column {
      grid-template-areas:
        'navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation navigation wordmark wordmark wordmark wordmark wordmark'
        'copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright wordmark wordmark wordmark wordmark wordmark';
    }
  }
}

//
// Wordmark
// -----------------------------------------------------------------------------------------------

footer[role='contentinfo'] > div > p:first-of-type {
  @include rhythm.font-size(3);
  font-family: #{fonts.$argent}, ui-serif, serif;
  font-weight: 700;
  grid-area: wordmark;
  letter-spacing: -0.017em;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;

  @include layout.six-column {
    text-align: right;
  }

  a {
    @include media.dark(color, palette.stone($lightness: 96%), palette.stone($lightness: 86%));
    text-decoration: none;
    &:hover {
      @include media.dark(--color, palette.stone($lightness: 79%), palette.stone($lightness: 72%));
    }
  }

  span {
    display: none;
  }
}

//
// Navigation
// -----------------------------------------------------------------------------------------------

footer[role='contentinfo'] > div > nav {
  @include fonts.sans;
  @include rhythm.font-size(-2);

  --gap: #{rhythm.fragments(2, -2)};

  font-weight: 500;
  grid-area: navigation;

  a {
    @include media.dark(color, palette.stone($lightness: 96%), palette.stone($lightness: 96%));
    text-decoration: none;
    &:hover {
      @include media.dark(--color, palette.stone($lightness: 78%), palette.stone($lightness: 82%));
    }
  }

  a[href*='subscribe']::before {
    @include icon.mask(var(--size), '/images/fa/regular/rss.svg');
    --size: 1.3ch;
    background-color: currentcolor;
    content: ' ';
    display: inline-block;
    height: var(--size);
    margin-right: 0.5ch;
    text-decoration: underline;
    vertical-align: baseline;
    width: var(--size);
  }

  a[href^='http:'],
  a[href^='https:'] {
    --text-decoration-color: transparent;
    text-decoration: underline;
    text-decoration-color: var(--text-decoration-color);
    &:hover {
      @include media.dark(--text-decoration-color, palette.stone($lightness: 34%), palette.stone($lightness: 34%));
    }
  }

  @include layout.six-column {
    li + li::before {
      @include media.dark(color, palette.stone($lightness: 96%), palette.stone($lightness: 74%));
      content: '|';
      margin-right: var(--gap);
    }
  }

  p {
    display: none;
  }

  ul {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    @include layout.six-column {
      justify-content: start;
    }
  }
}

///
// Copyright
// -----------------------------------------------------------------------------------------------

footer[role='contentinfo'] > div > p:last-of-type {
  @include fonts.sans;
  @include media.dark(color, palette.stone($lightness: 96%), palette.stone($lightness: 96%));
  @include rhythm.font-size(-2);
  font-weight: 500;
  grid-area: copyright;
  text-align: center;
  -webkit-text-size-adjust: 100%;

  @include layout.six-column {
    text-align: left;
  }

  a[href^='http'] {
    --color: inherit;
    --text-decoration-color: transparent;

    color: var(--color);
    text-decoration-color: var(--text-decoration-color);
  }

  a[href^='http']:hover {
    @include media.dark(--color, palette.stone($lightness: 78%), palette.stone($lightness: 78%));
    @include media.dark(--text-decoration-color, palette.stone($lightness: 34%), palette.stone($lightness: 34%));
  }

  a[href^='http']::before {
    --mask-size: calc(var(--size) - 1px);
    --size: 1.825ch;
    --space: 0.25ch;

    background-color: currentcolor;
    content: '';
    display: inline-block;
    height: var(--size);

    margin-right: var(--space);
    -webkit-mask-image: url('/images/fa/brands/creative-commons-by.svg'),
      url('/images/fa/brands/creative-commons-sa.svg');
    mask-image: url('/images/fa/brands/creative-commons-by.svg'), url('/images/fa/brands/creative-commons-sa.svg');
    -webkit-mask-position: left center, right center;
    mask-position: left center, right center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: var(--mask-size) var(--mask-size), var(--mask-size) var(--mask-size);
    mask-size: var(--mask-size) var(--mask-size), var(--mask-size) var(--mask-size);
    text-decoration: underline;
    transform: translateY(-1px);
    vertical-align: text-bottom;
    width: calc(var(--size) * 2);
  }

  span {
    @include icon.mask(var(--mask-size), '/images/fa/brands/creative-commons.svg');
    --mask-size: calc(var(--size) - 1px);
    --size: 1.825ch;
    background-color: currentcolor;
    display: inline-block;
    height: 0;
    overflow: hidden;
    padding-top: var(--size);
    transform: translateY(-1px);
    vertical-align: text-bottom;
    width: var(--size);
  }
}
