@use "../utils/fonts";

//
// Initialize imported global styles
// -----------------------------------------------------------------------------------------------

@include fonts.init;

//
// Set up some typography settings
// -----------------------------------------------------------------------------------------------

:root {
  --font-display: "Argent", ui-serif, serif;
  --font-mono: "Ellograph", ui-monospace, monospace;
  --font-sans: "Greycliff", ui-sans-serif, sans-serif;
  --font-serif: "Addington", ui-serif, serif;
}
