@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

@include fonts.init;
@include rhythm.init;

:root {
  color-scheme: light dark;
}

//
// Base styles
// -----------------------------------------------------------------------------------------------

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  // @include rhythm.debug;

  --body-background-color: #{palette.stone($lightness: 92%)};
  --body-color: #{palette.stone($lightness: 20%)};

  @media (prefers-color-scheme: dark) {
    --body-background-color: #{palette.stone($lightness: 14%)};
    --body-color: #{palette.stone($lightness: 92%)};
  }

  align-items: stretch;
  background-color: var(--body-background-color);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
  min-height: 100vh;
}

html {
  max-width: 100%;
  min-height: 100vh;
}

main {
  // @include rhythm.debug;

  flex-grow: 1;
}

//
// Sub-view styles
// -----------------------------------------------------------------------------------------------

@import "./aside";
@import "./footer";
@import "./header";
