// -----------------------------------------------------------------------------------------------
//
// SASS Helpers for Dealing w/ Border Styling
//
// -----------------------------------------------------------------------------------------------

@use "sass:list";
@use "sass:map";

@use './colors';

//
// Function for getting a named border color
// -----------------------------------------------------------------------------------------------

@function color($color) {
  @if not map.has-key(colors.$border, $color) {
    @warn "Unknown border color '#{$color}'.";
  }

  @return #{colors.var($color, $ns: border)};
}

//
// Mix-ins for settings a bunch of border properties at once
// -----------------------------------------------------------------------------------------------

@mixin all($color: main, $width: 1px) {
  border: #{color($color)} solid #{$width};
}

@mixin block($color: main, $width: 1px) {
  border-block: #{color($color)} solid #{$width};
}

@mixin block-end($color: main, $width: 1px) {
  border-block-end: #{color($color)} solid #{$width};
}

@mixin block-start($color: main, $width: 1px) {
  border-block-start: #{color($color)} solid #{$width};
}

@mixin inline-end($color: main, $width: 1px) {
  border-inline-end: #{color($color)} solid #{$width};
}

@mixin inline-start($color: main, $width: 1px) {
  border-inline-start: #{color($color)} solid #{$width};
}
