// -----------------------------------------------------------------------------------------------
//
// Font Definitions
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../assets/css/palette";

//
// Font stacks
// -----------------------------------------------------------------------------------------------

$addington: "Addington";
$visby-round: "Visby Round";

$addington-stack: (
  normal: (
    100: "/fonts/addington/AddingtonCF-Thin",
    300: "/fonts/addington/AddingtonCF-Light",
    400: "/fonts/addington/AddingtonCF-Regular",
    500: "/fonts/addington/AddingtonCF-Medium",
    600: "/fonts/addington/AddingtonCF-DemiBold",
    700: "/fonts/addington/AddingtonCF-Bold",
    800: "/fonts/addington/AddingtonCF-ExtraBold",
  ),
  italic: (
    100: "/fonts/addington/AddingtonCF-ThinItalic",
    300: "/fonts/addington/AddingtonCF-LightItalic",
    400: "/fonts/addington/AddingtonCF-RegularItalic",
    500: "/fonts/addington/AddingtonCF-MediumItalic",
    600: "/fonts/addington/AddingtonCF-DemiBoldItalic",
    700: "/fonts/addington/AddingtonCF-BoldItalic",
    800: "/fonts/addington/AddingtonCF-ExtraBoldItalic",
  ),
);

$visby-round-stack: (
  normal: (
    200: "/fonts/visby-round/VisbyRoundCF-ExtraLight",
    300: "/fonts/visby-round/VisbyRoundCF-Light",
    400: "/fonts/visby-round/VisbyRoundCF-Regular",
    500: "/fonts/visby-round/VisbyRoundCF-Medium",
    600: "/fonts/visby-round/VisbyRoundCF-DemiBold",
    700: "/fonts/visby-round/VisbyRoundCF-Bold",
    800: "/fonts/visby-round/VisbyRoundCF-ExtraBold",
    900: "/fonts/visby-round/VisbyRoundCF-Heavy",
  ),
  italic: (
    200: "/fonts/visby-round/VisbyRoundCF-ExtraLightOblique",
    300: "/fonts/visby-round/VisbyRoundCF-LightOblique",
    400: "/fonts/visby-round/VisbyRoundCF-RegularOblique",
    500: "/fonts/visby-round/VisbyRoundCF-MediumOblique",
    600: "/fonts/visby-round/VisbyRoundCF-DemiBoldOblique",
    700: "/fonts/visby-round/VisbyRoundCF-BoldOblique",
    800: "/fonts/visby-round/VisbyRoundCF-ExtraBoldOblique",
    900: "/fonts/visby-round/VisbyRoundCF-HeavyOblique",
  ),
);

//
// Named font stacks
// -----------------------------------------------------------------------------------------------

$fonts: (
  sans: "#{$visby-round}, ui-sans-serif, sans-serif",
  serif: "#{$addington}, ui-serif, serif",
);
