@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Tags
// -----------------------------------------------------------------------------------------------

main > div > aside:first-of-type {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: tags;
  position: relative;
}

//
// Divider rule
// -----------------------------------------------------------------------------------------------

main > div > aside:first-of-type::before {
  --color: #{palette.stone($lightness: 76%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 24%)};
  }

  background-color: var(--color);
  content: '';
  display: block;
  height: 1px;
  transform: translateY(#{rhythm.fragments(2)});
  width: 100%;
  z-index: -1;
}

//
// Heading
// -----------------------------------------------------------------------------------------------

main > div > aside:first-of-type h3 {
  @include fonts.sans;
  @include rhythm.font-size(-2);

  background-color: var(--body-background-color);
  font-weight: 800;
  letter-spacing: 0.125em;
  padding-right: #{rhythm.fragments(1, -2)};
  position: relative;
  text-transform: uppercase;

  span {
    display: none;
  }
}

//
// Tag list
// -----------------------------------------------------------------------------------------------

main > div > aside:first-of-type ol {
  list-style: none;
  padding-top: #{rhythm.fragments(1)};

  li {
    @include fonts.mono;
    @include rhythm.font-size(-2);

    font-style: italic;
    font-weight: 700;
  }

  a {
    --color: #{palette.stone($lightness: 48%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 68%)};
    }

    color: var(--color);
    text-decoration: none;
  }

  a:hover {
    --color: #{palette.orange($lightness: 52%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.orange($lightness: 58%)};
    }
  }

  a::before {
    --color: #{palette.stone($lightness: 58%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 48%)};
    }

    color: var(--color);
    content: '#';
  }

  a:hover::before {
    --color: #{palette.orange($lightness: 58%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.orange($lightness: 42%)};
    }
  }
}
