@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Map section
// -----------------------------------------------------------------------------------------------

main > div > footer {
  grid-area: map;

  figure {
    display: grid;
    gap: #{rhythm.fragments(2)};
  }
}

//
// Map graphic
// -----------------------------------------------------------------------------------------------

main > div > footer svg {
  --background-color: #{palette.sky($lightness: 86%)};
  --border-color: #{palette.stone($lightness: 82%)};
  --map-fill: #{palette.emerald($lightness: 36%)};
  --primary-fill: #{palette.red($lightness: 50%)};
  --secondary-fill: #{palette.stone($lightness: 32%)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.sky($lightness: 16%)};
    --border-color: #{palette.stone($lightness: 12%)};
    --map-fill: #{palette.emerald($lightness: 20%)};
    --primary-fill: #{palette.red($lightness: 54%)};
    --secondary-fill: #{palette.stone($lightness: 46%)};
  }

  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-radius: 0.25em;
  border-width: 1px;
  display: block;
  height: #{rhythm.lines(10)};
  order: 1;
  max-width: 100%;
}

//
// Map information
// -----------------------------------------------------------------------------------------------

main > div > footer figcaption {
  // @include colors.modes(stone 500, stone 300);
  @include fonts.sans;
  @include rhythm.font-size(-1);

  --color: #{palette.stone($lightness: 48%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 68%)};
  }

  color: var(--color);
  font-weight: 300;
  order: 2;

  a[href^='/map'] {
    color: inherit;
    text-decoration: none;

    &:hover {
      // @include colors.modes(emerald 500, emerald 600);
    }
  }

  b {
    font-weight: 600;
  }
}
