@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Journal navigation
// -----------------------------------------------------------------------------------------------

main > div > form {
  grid-area: filter;
  margin-top: #{rhythm.fragments(2) * -1};

  /* prettier-ignore */
  input, legend, p { display: none; }
}

//
// List of entry types
// -----------------------------------------------------------------------------------------------

main > div > form ul {
  @include fonts.sans;
  @include rhythm.font-size(-2);

  column-gap: #{rhythm.fragments(1)};
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  list-style: none;
  user-select: none;

  li {
    flex-basis: calc(50% - #{rhythm.fragments(1, -2) * 0.55});
  }
}

//
// Entry types
// -----------------------------------------------------------------------------------------------

main > div > form ul span {
  --color: #{palette.stone($lightness: 60%)};

  color: var(--color);
  cursor: pointer;

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 78%)};
  }
}

main > div > form ul input:not(:checked) + span {
  --color: #{palette.stone($lightness: 60%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 52%)};
  }
}

//
// Entry type icons
// -----------------------------------------------------------------------------------------------

main > div > form ul span::before {
  --color: #{palette.stone($lightness: 60%)};
  --size: #{rhythm.fragments(2, -2)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 64%)};
  }

  background-color: var(--color);
  content: ' ';
  display: inline-block;
  height: var(--size);
  margin-right: rhythm.fragments(1, -2);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: var(--size) var(--size);
  transform: translateY(1px);
  width: var(--size);
}

main > div > form ul input:not(:checked) + span::before {
  --color: #{palette.stone($lightness: 60%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 46%)};
  }
}

main > div > form ul input[name='bookmarks'] + span::before {
  mask-image: url('/images/fa/solid/bookmark.svg');
}

main > div > form ul input[name='checkins'] + span::before {
  mask-image: url('/images/fa/solid/location-dot.svg');
}

main > div > form ul input[name='likes'] + span::before {
  mask-image: url('/images/fa/solid/star.svg');
}

main > div > form ul input[name='notes'] + span::before {
  mask-image: url('/images/fa/solid/memo.svg');
}

main > div > form ul input[name='photos'] + span::before {
  mask-image: url('/images/fa/solid/camera-retro.svg');
}

main > div > form ul input[name='quotes'] + span::before {
  mask-image: url('/images/fa/solid/quote-left.svg');
}

main > div > form ul input[name='read'] + span::before {
  mask-image: url('/images/fa/solid/book.svg');
}

main > div > form ul input[name='reposts'] + span::before {
  mask-image: url('/images/fa/solid/arrows-repeat.svg');
}

main > div > form ul input[name='replies'] + span::before {
  mask-image: url('/images/fa/solid/reply.svg');
}

main > div > form ul input[name='rsvps'] + span::before {
  mask-image: url('/images/fa/solid/calendar-check.svg');
}

main > div > form ul input[name='videos'] + span::before {
  mask-image: url('/images/fa/solid/clapperboard-play.svg');
}

main > div > form ul input[name='walks'] + span::before {
  mask-image: url('/images/fa/solid/person-walking.svg');
}
