@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Journal entries
// -----------------------------------------------------------------------------------------------

main > div > section {
  display: flex;
  flex-direction: column;
  gap: #{rhythm.lines(1)};
  grid-area: entries;

  & > h2 {
    display: none;
  }
}

//
// Entries
// -----------------------------------------------------------------------------------------------

main > div > section > article {
  --background-color: #{palette.stone($lightness: 89%)};
  --border-color: #{palette.stone($lightness: 82%)};
  --border-width: 1px;

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 11%)};
    --border-color: #{palette.stone($lightness: 22%)};
  }

  background-color: var(--background-color);
  border-color: var(--border-color);
  border-radius: 0.25em;
  border-style: solid;
  border-width: var(--border-width);
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--border-width) * 2);
  overflow: hidden;
  position: relative;
}

//
// Entry meta data
// -----------------------------------------------------------------------------------------------

main > div > section > article > p {
  @include fonts.mono;
  @include rhythm.font-size(-2);

  --color: #{palette.stone($lightness: 42%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 64%)};
  }

  color: var(--color);
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: -1px;
  margin-left: #{rhythm.fragments(2, -2)};
  margin-right: #{rhythm.fragments(2, -2)};
  margin-top: -1px;
  padding-bottom: #{rhythm.fragments(1, -2)};
  padding-top: #{rhythm.fragments(1, -2)};
  order: 2;

  /* prettier-ignore */
  a[href='/'], span:not([class]) { display: none; }
}

main > div > section > article.bookmark > p,
main > div > section > article.checkin > p,
main > div > section > article.note > p,
main > div > section > article.quote > p,
main > div > section > article.video > p {
  border-top-color: var(--border-color);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: -1px;
}

//
// Entry icon
// -----------------------------------------------------------------------------------------------

main > div > section > article > p a[href^='/journal'] {
  --background-color: #{palette.stone($lightness: 76%)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 32%)};
  }

  background-color: var(--background-color);
  border-radius: 100%;
  height: 0;
  left: #{rhythm.fragments(3, -2)};
  overflow: hidden;
  padding-top: #{rhythm.fragments(6, -2)};
  position: absolute;
  top: #{rhythm.fragments(3, -2)};
  width: #{rhythm.fragments(6, -2)};
  z-index: 998;

  &::before {
    --background-color: #{palette.stone($lightness: 42%)};
    --size: #{rhythm.fragments(3, -2)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 72%)};
    }

    background-color: var(--background-color);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: var(--size) var(--size);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

main > div > section > article > p a[href^='/journal']:hover {
  --background-color: #{palette.stone($lightness: 64%)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 38%)};
  }

  &::before {
    --background-color: #{palette.stone($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.stone($lightness: 86%)};
    }
  }
}

main > div > section > article.photo > p a[href^='/journal'],
main > div > section > article.video > p a[href^='/journal'] {
  --background-color: #{palette.stone($alpha: 0.75, $lightness: 8%)};

  &:hover {
    --background-color: #{palette.stone($alpha: 0.6, $lightness: 8%)};
  }

  &::before {
    --background-color: #{palette.stone($lightness: 82%)};
  }

  &:hover::before {
    --background-color: #{palette.stone($lightness: 94%)};
  }
}

main > div > section > article.bookmark > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/bookmark.svg');
}

main > div > section > article.checkin > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/location-dot.svg');
}

main > div > section > article.note > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/memo.svg');
}

main > div > section > article.photo > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/camera-retro.svg');
}

main > div > section > article.quote > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/quote-left.svg');
}

main > div > section > article.video > p a[href^='/journal']::before {
  mask-image: url('/images/fa/solid/clapperboard-play.svg');
}

//
// Published at icon
// -----------------------------------------------------------------------------------------------

main > div > section > article > p time::before {
  @extend %icon;

  // transform: translateY(1px);
  margin-right: #{rhythm.fragments(1, -2)};
  mask-image: url('/images/fa/regular/clock.svg');
}

//
// Published from icon
// -----------------------------------------------------------------------------------------------

main > div > section > article > p .p-location::after {
  @extend %icon;

  // transform: translateY(1px);
  margin-left: #{rhythm.fragments(1, -2)};
  mask-image: url('/images/fa/regular/earth-americas.svg');
}

//
// Journal entry content
// -------------------------------------------------------------------------------------------------

main > div > section > article > blockquote {
  --color: #{palette.stone($lightness: 32%)};

  @media (prefers-color-scheme: dark) {
    --color: #{palette.stone($lightness: 68%)};
  }

  color: var(--color);
  order: 1;
}

//
// Bookmark
// -------------------------------------------------------------------------------------------------

main > div > section > article.bookmark > blockquote {
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};

  p:first-of-type {
    // @include colors.modes(stone 800, stone 100);
    @include fonts.mono;
    @include rhythm.font-size(-1);

    --color: #{palette.stone($lightness: 28%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 82%)};
    }

    color: var(--color);
    font-weight: 700;
    padding-bottom: #{rhythm.fragments(2, -1)};

    a {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    a:not(:hover) {
      color: inherit;
      text-decoration-color: transparent;
    }
  }

  p:not(:first-of-type) {
    // @include colors.modes(stone 600, stone 300);
    @include fonts.serif;
    @include rhythm.font-size(0);

    --color: #{palette.stone($lightness: 38%)};

    color: var(--color);
    font-weight: 300;
  }
}

//
// Checkin
// -----------------------------------------------------------------------------------------------

main > div > section > article.checkin > blockquote {
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};

  p:first-of-type {
    @include fonts.sans;
    @include rhythm.font-size(0);

    --color: #{palette.stone($lightness: 20%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 80%)};
    }

    color: var(--color);
    font-weight: 700;
    padding-bottom: #{rhythm.fragments(2)};
  }

  p:not(:first-of-type) {
    @include fonts.serif;
    @include rhythm.font-size(0);

    --color: #{palette.stone($lightness: 36%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 66%)};
    }

    font-weight: 300;
    color: var(--color);
  }
}

//
// Note
// -----------------------------------------------------------------------------------------------

main > div > section > article.note > blockquote {
  @include fonts.serif;
  @include rhythm.font-size(0, $line-height: 5);

  font-weight: 300;
  padding-bottom: #{rhythm.fragments(5)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.fragments(4)};
}

//
// Photo
// -----------------------------------------------------------------------------------------------

main > div > section > article.photo {
  figure {
    position: relative;
  }

  figcaption {
    @include fonts.serif;
    @include rhythm.font-size(0);

    background-image: linear-gradient(
      #{palette.stone($lightness: 10%, $alpha: 0)},
      #{palette.stone($lightness: 10%, $alpha: 0.5)},
      #{palette.stone($lightness: 10%, $alpha: 0.75)},
      #{palette.stone($lightness: 10%, $alpha: 0.85)}
    );

    bottom: 0;
    color: #{palette.stone($lightness: 90%)};
    display: flex;
    font-style: italic;
    font-weight: 400;
    left: 0;
    justify-content: center;
    padding-bottom: #{rhythm.fragments(2)};
    padding-left: #{rhythm.fragments(2)};
    padding-right: #{rhythm.fragments(2)};
    padding-top: #{rhythm.fragments(10)};
    position: absolute;
    right: 0;
    text-shadow: 0 0 #{rhythm.em(4px)} #{palette.stone($lightness: 10%, $alpha: 0.85)};
    z-index: 2;
  }

  picture {
    max-height: #{rhythm.lines(10)};
    overflow: hidden;
    z-index: 1;
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    width: 100%;
  }
}

//
// Quote
// -----------------------------------------------------------------------------------------------

main > div > section > article.quote > blockquote {
  @include fonts.serif;
  @include rhythm.font-size(0);

  font-weight: 350;
  padding-bottom: #{rhythm.lines(1)};
  padding-left: #{rhythm.fragments(12)};
  padding-right: #{rhythm.lines(1)};
  padding-top: #{rhythm.lines(1)};

  blockquote {
    font-style: italic;
  }

  figcaption {
    // @include colors.modes(stone 600, stone 200);
    @include fonts.sans;
    @include rhythm.font-size(-1);

    --color: #{palette.stone($lightness: 44%)};

    @media (prefers-color-scheme: dark) {
      --color: #{palette.stone($lightness: 76%)};
    }

    color: var(--color);
    font-weight: 700;
    padding-top: #{rhythm.fragments(2, -1)};

    cite {
      font-style: italic;
      font-weight: 500;
    }
  }
}

//
// Video
// -----------------------------------------------------------------------------------------------

main > div > section > article.video > blockquote {
  video {
    min-width: 100%;
    max-height: #{rhythm.lines(10)};
    max-width: 100%;
    object-fit: cover;
  }

  figure {
    position: relative;
  }

  figure > button {
    // @include images.icon('/images/icons/play-micro.svg', rhythm.lines(4));
    // @include easings.in-out(background-color);

    // background-color: #{color.adjust(colors.get(stone 100), $alpha: -0.25)};
    cursor: pointer;
    display: block;
    left: 50%;
    overflow: hidden;
    padding-top: rhythm.lines(5);
    position: absolute;
    transform: translate(-50%, -70%);
    top: 50%;
    width: #{rhythm.lines(4)};
  }

  figcaption {
    // @include colors.modes(stone 600, stone 300);
    @include fonts.serif;
    @include rhythm.font-size(0);

    display: flex;
    font-style: italic;
    font-weight: 350;
    justify-content: center;
    padding-bottom: #{rhythm.fragments(4)};
    padding-left: #{rhythm.fragments(2)};
    padding-right: #{rhythm.fragments(2)};
    padding-top: #{rhythm.fragments(2)};
  }
}

//
// Abstract classes
// -------------------------------------------------------------------------------------------------

%icon {
  --background-color: #{palette.stone($lightness: 62%)};
  --size: #{rhythm.fragments(2, -2)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.stone($lightness: 44%)};
  }

  background-color: var(--background-color);
  content: '';
  display: inline-block;
  height: var(--size);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  transform: translateY(2px);
  vertical-align: baseline;
  width: var(--size);
}
