@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/icon";
@use "../utils/layout";
@use "../utils/media";
@use "../utils/rhythm";

//
// Meta information
// -----------------------------------------------------------------------------------------------

main > article > aside:last-of-type {
  grid-area: meta;

  & > h4 {
    display: none;
  }
}

//
// Entry taxonomy - transforms a sentence of how the entry is categorized into a nicely
// displayed header.
// -----------------------------------------------------------------------------------------------

main > article > aside:last-of-type > p {
  padding-left: #{rhythm.lines(1)};
  padding-right: #{rhythm.lines(1)};
  padding-bottom: #{rhythm.lines(1)};
  text-align: center;

  /* prettier-ignore */
  span { display: none; }

  /* Topic */
  a:not([href^='/tags']) {
    @include media.dark(color, palette.stone($lightness: 36%), palette.stone($lightness: 76%));
    @include fonts.sans;
    @include rhythm.font-size(-1);
    font-weight: 850;
    display: block;
    letter-spacing: 0.125em;
    margin-left: #{rhythm.lines(1) * -1};
    margin-right: #{rhythm.lines(1) * -1};
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      @include media.dark(--color, palette.yellow($lightness: 36%), palette.yellow($lightness: 56%));
    }
  }

  /* Tags */
  a[href^='/tags'] {
    @include fonts.mono;
    @include media.dark(color, palette.stone($lightness: 60%), palette.stone($lightness: 54%));
    @include rhythm.font-size(-2);
    font-style: italic;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      @include media.dark(--color, palette.orange($lightness: 60%), palette.orange($lightness: 58%));
    }

    //
    // Hashtag "#"
    // -------------------------------------------------------------------------------------------------

    &::before {
      @include media.dark(color, palette.stone($lightness: 72%), palette.stone($lightness: 38%));
      content: '#';
    }

    &:hover::before {
      @include media.dark(--color, palette.orange($lightness: 60%), palette.orange($lightness: 38%));
    }
  }
}

//
// Meta data details
// -----------------------------------------------------------------------------------------------

main > article > aside:last-of-type > dl {
  @include fonts.mono;
  @include media.dark(background-color, palette.stone($lightness: 90%), palette.stone($lightness: 11%));
  @include media.dark(border-color, palette.stone($lightness: 86%), palette.stone($lightness: 8%));
  @include rhythm.font-size(-2);
  border-radius: 0.125em;
  border-style: solid;
  border-width: 1px;
  display: grid;
  font-weight: 600;
  grid-auto-rows: min-content;
  grid-column-gap: #{rhythm.lines(1, -2)};
  grid-template-columns: 1fr 1fr;
  padding: calc(#{rhythm.fragments(2, -2)} - 1px) #{rhythm.fragments(2, -2)};

  dt {
    @include media.dark(color, palette.stone($lightness: 40%), palette.stone($lightness: 66%));
    text-align: right;
  }

  dd {
    @include media.dark(color, palette.stone($lightness: 32%), palette.stone($lightness: 50%));
    padding-left: #{rhythm.fragments(3, -2)};

    &::before {
      @include media.dark(background-color, palette.stone($lightness: 56%), palette.stone($lightness: 50%));
      @include icon.mask(contain);
      content: '';
      display: inline-block;
      height: #{rhythm.fragments(2, -2)};
      margin-left: #{rhythm.fragments(3, -2) * -1};
      margin-right: #{rhythm.fragments(1, -2)};
      transform: translateY(20%);
      vertical-align: baseline;
      width: #{rhythm.fragments(2, -2)};
    }

    &[data-icon='aperture']::before {
      @include icon.mask-image('/images/fa/solid/aperture.svg');
    }

    &[data-icon='camera']::before {
      @include icon.mask-image('/images/fa/solid/camera.svg');
    }

    &[data-icon='desktop']::before {
      @include icon.mask-image('/images/fa/solid/desktop.svg');
    }

    &[data-icon='music']::before {
      @include icon.mask-image('/images/fa/solid/music.svg');
    }

    &[data-icon='phone']::before {
      @include icon.mask-image('/images/fa/solid/mobile.svg');
    }

    &[data-icon='pin']::before {
      @include icon.mask-image('/images/fa/solid/location-dot.svg');
    }

    &[data-icon='plane']::before {
      @include icon.mask-image('/images/fa/solid/plane.svg');
    }

    &[data-icon='shutter']::before {
      @include icon.mask-image('/images/fa/solid/panorama.svg');
    }

    &[data-icon='snow']::before {
      @include icon.mask-image('/images/fa/solid/snowflake.svg');
    }

    &[data-icon='tablet']::before {
      @include icon.mask-image('/images/fa/solid/tablet.svg');
    }

    &[data-icon='transfer']::before {
      @include icon.mask-image('/images/fa/solid/arrow-right-arrow-left.svg');
    }

    &[data-icon='world']::before {
      @include icon.mask-image('/images/fa/solid/earth-europe.svg');
    }
  }
}
