@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/icon";
@use "../utils/layout";
@use "../utils/media";
@use "../utils/rhythm";

//
// Responses to a journal entry
// -----------------------------------------------------------------------------------------------

main > article > section {
  grid-area: responses;

  h3 {
    display: none;
  }
}

//
// Individual responses
// -----------------------------------------------------------------------------------------------

main > article > section article {
  column-gap: #{rhythm.fragments(2)};
  display: grid;
  grid-template-areas:
    'avatar name'
    '. content'
    '. date';
  grid-template-columns: #{rhythm.fragments(6)} 1fr;
  grid-template-rows: #{rhythm.fragments(6)} 1fr min-content;
  position: relative;

  header,
  header h4,
  header h4 > a:first-of-type {
    display: contents;
  }

  header h4 {
    position: relative;
  }

  header h4 > span {
    display: none;
  }
}

//
// Avatar
// -----------------------------------------------------------------------------------------------

main > article > section article header h4 > a:first-of-type picture {
  border-radius: 0.125em;
  display: block;
  grid-area: avatar;
  height: #{rhythm.fragments(6)};
  overflow: hidden;
  position: absolute;
  width: #{rhythm.fragments(6)};
  z-index: 2;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

//
// Replier name
// -----------------------------------------------------------------------------------------------

main > article > section article header h4 > a:first-of-type span {
  // @include colors.hover((stone 600, stone 800), (stone 50, stone 400));
  @include fonts.sans;
  @include media.dark(color, palette.stone($lightness: 40%), palette.stone($lightness: 66%));
  @include rhythm.font-size(-1);
  align-self: center;
  grid-area: name;
  justify-self: start;
  text-decoration: underline;
  text-decoration-color: transparent;
}

main > article > section article header h4 > a:first-of-type:hover span {
  @include media.dark(color, palette.stone($lightness: 50%), palette.stone($lightness: 76%));
  @include media.dark(text-decoration-color, palette.stone($lightness: 60%), palette.stone($lightness: 46%));
}

//
// Replied from icon
// -----------------------------------------------------------------------------------------------

main > article > section article header h4 > a:last-of-type {
  @include media.dark(background-color, palette.stone($lightness: 72%), palette.stone($lightness: 46%));
  @include rhythm.font-size(0);
  border-radius: 100%;
  height: 0;
  left: #{rhythm.fragments(4, 0)};
  overflow: hidden;
  padding-top: #{rhythm.fragments(3, 0)};
  position: absolute;
  top: #{rhythm.fragments(1, 0) * -1};
  width: #{rhythm.fragments(3, 0)};
  z-index: 999;

  &:hover {
    @include media.dark(background-color, palette.stone($lightness: 60%), palette.stone($lightness: 56%));
  }

  &::before {
    @include icon.mask(rhythm.fragments(2, 0));
    @include media.dark(background-color, palette.stone($lightness: 20%), palette.stone($lightness: 86%));
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &[href*='twitter.com']::before {
    @include icon.mask-image('/images/fa/brands/twitter.svg');
  }
}

//
// Published-at time
// -----------------------------------------------------------------------------------------------

main > article > section article header h4 > time {
  @include media.dark(color, palette.stone($lightness: 50%), palette.stone($lightness: 60%));
  @include fonts.mono;
  @include rhythm.font-size(-2);
  font-weight: 500;
  grid-area: date;
  padding-top: #{rhythm.fragments(2, -2)};

  span {
    position: relative;
    visibility: hidden;

    &::after {
      @include media.dark(color, palette.stone($lightness: 66%), palette.stone($lightness: 36%));
      @include rhythm.line-height(4);
      content: '–';
      display: inline-block;
      font-weight: 400;
      left: 0.25em;
      position: absolute;
      top: calc(0.125em / 2);
      visibility: visible;
    }
  }
}

//
// Reply content
// -----------------------------------------------------------------------------------------------

main > article > section article blockquote {
  @include media.dark(color, palette.stone($lightness: 32%), palette.stone($lightness: 78%));
  @include fonts.serif;
  @include rhythm.font-size(0);
  font-weight: 350;
  grid-area: content;
  padding-top: #{rhythm.fragments(1, 0)};
}
