@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Map/location information
// -----------------------------------------------------------------------------------------------

main > article > aside:first-of-type {
  grid-area: map;

  svg {
    --background-color: #{palette.sky($lightness: 86%)};
    --border-color: #{palette.stone($lightness: 82%)};
    --map-fill: #{palette.emerald($lightness: 36%)};
    --primary-fill: #{palette.red($lightness: 50%)};
    --secondary-fill: #{palette.stone($lightness: 32%)};

    @media (prefers-color-scheme: dark) {
      --background-color: #{palette.sky($lightness: 16%)};
      --border-color: #{palette.stone($lightness: 12%)};
      --map-fill: #{palette.emerald($lightness: 20%)};
      --primary-fill: #{palette.red($lightness: 54%)};
      --secondary-fill: #{palette.stone($lightness: 46%)};
    }

    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 0.25em;
    border-width: 1px;
    display: block;
    height: #{rhythm.lines(8)};
    order: 1;
    max-width: 100%;
  }
}
