@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/rhythm";

//
// Common styles
// -----------------------------------------------------------------------------------------------

@import url('/assets/common/intro.css');

//
// Journal index containermix p
// -----------------------------------------------------------------------------------------------

main > div {
  @include layout.center;
  @include layout.gutters;
  @include layout.grid;

  --padding: #{rhythm.lines(4)};

  grid-template-areas:
    'intro'
    'filter'
    'entries'
    'tags'
    'links'
    'map';
  padding-bottom: var(--padding);
  row-gap: var(--layout-gap);

  @include layout.two-column {
    grid-template-areas:
      'intro  intro'
      'filter filter'
      'entries entries'
      'tags tags'
      'links links'
      'map map';
  }

  @include layout.three-column {
    grid-template-areas:
      'intro intro intro'
      'filter filter filter'
      'entries entries entries'
      'tags tags tags'
      'links links links'
      'map map map';
  }

  @include layout.four-column {
    grid-template-areas:
      'intro intro intro intro'
      'filter filter filter filter'
      'entries entries entries entries'
      'tags tags tags tags'
      'links links links links'
      'map map map map';
  }

  @include layout.five-column {
    grid-template-areas:
      'intro intro intro intro intro'
      'filter filter filter filter filter'
      'entries entries entries entries entries'
      'tags tags tags tags tags'
      'links links links links links'
      'map map map map map';
  }

  @include layout.six-column {
    grid-template-areas:
      'intro intro entries entries entries entries'
      'filter filter entries entries entries entries'
      'map map entries entries entries entries'
      'tags tags entries entries entries entries'
      'links links entries entries entries entries';
    grid-template-rows: auto auto auto auto 1fr;
  }

  @include layout.eight-column {
    grid-template-areas:
      'intro intro intro entries entries entries entries entries'
      'filter filter filter entries entries entries entries entries'
      'map map map entries entries entries entries entries'
      'tags tags tags entries entries entries entries entries'
      'links links links entries entries entries entries entries';
  }

  @include layout.twelve-column {
    grid-template-areas:
      'intro intro intro entries entries entries entries entries map map map map'
      'filter filter filter entries entries entries entries entries map map map map'
      'filter filter filter entries entries entries entries entries tags tags links links';
    grid-template-rows: auto auto 1fr;
  }

  @include layout.sixteen-column {
    grid-template-areas:
      'intro intro intro . entries entries entries entries entries entries . map map map map map'
      'filter filter filter . entries entries entries entries entries entries . map map map map map'
      'filter filter filter . entries entries entries entries entries entries . tags tags links links links';
  }
}

//
// Intro blurb
// -----------------------------------------------------------------------------------------------

main > div > header {
  grid-area: intro;
}

//
// Section imports
// -----------------------------------------------------------------------------------------------

@import './index_entries';
@import './index_filter';
@import './index_links';
@import './index_map';
@import './index_tags';
