// -----------------------------------------------------------------------------------------------
//
// Essays Index Page Layout Styles
//
// -----------------------------------------------------------------------------------------------

@use '../../utils/box';
@use '../../utils/grid';
@use '../../utils/layout';
@use '../../utils/val';

//
// Imports for components used on page
// -----------------------------------------------------------------------------------------------

@import url("/assets/components/essays.css");
@import url("/assets/components/shared.css");

//
// Main container
// -----------------------------------------------------------------------------------------------

main > div {
  @include layout.grid;
  @include layout.wrapper;
  padding-bottom: #{val.rhythm(2)};

  & > section {
    column-gap: var(--grid-space);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: #{val.rhythm(1)};
  }

  @include grid.columns(8) {
    & > .section_header {
      grid-column-end: span 3;
    }

    & > .essay_summary {
      grid-column-start: 4;
    }

    & > section {
      @include layout.flow;
    }
  }

  @include grid.columns(12) {
    & > .section_header {
      grid-column-end: span 4;
    }

    & > .essay_summary {
      grid-column-start: 5;
      grid-column-end: span 5;
    }

    & > section {
      display: initial;
      grid-column-start: 10;
    }
  }

  @include grid.columns(16) {
    & > .section_header {
      grid-column-end: span 3;
    }

    & > .essay_summary {
      grid-column-start: 5;
      grid-column-end: span 7;
    }

    & > section {
      --column-width: calc((100% - (var(--grid-space) * 3)) / 4);
      @include box.vr(calc((var(--column-width) / 2) + var(--grid-space)));
      --flow-space: #{val.rhythm(2)};
      grid-column-start: 13;

      & > * + * {
        @include box.hr;
      }
    }
  }
}
