@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/icon";
@use "../utils/layout";
@use "../utils/media";
@use "../utils/rhythm";

//
// Essay replies
// -----------------------------------------------------------------------------------------------

main > article > div:last-of-type > div > aside:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: #{rhythm.lines(1)};
  grid-area: replies;
  padding-bottom: #{rhythm.lines(1)};

  /* prettier-ignore */
  & > h3 { display: none; }

  @include layout.four-column {
    --layout-column: calc((100% - (var(--layout-gap) * 3)) / 4);
  }

  @include layout.six-column {
    --layout-column: calc((100% - (var(--layout-gap) * 5)) / 6);
  }

  @include layout.sixteen-column {
    --layout-column: calc((100% - (var(--layout-gap) * 7)) / 8);
  }
}

//
// Replies
// -----------------------------------------------------------------------------------------------

main > article > div:last-of-type > div > aside:nth-child(1) article {
  display: flex;
  flex-direction: column;

  header {
    column-gap: var(--layout-gap);
    display: flex;
    height: #{rhythm.lines(3)};
    justify-content: flex-start;
    position: relative;
  }

  header picture {
    display: block;

    @include layout.six-column {
      float: left;
      left: var(--layout-column);
      position: absolute;
      top: 0;
      transform: translateX(#{rhythm.fragments(10) * -1});
    }

    img {
      border-radius: 0.125em;
      display: block;
      height: #{rhythm.fragments(10)};
      object-fit: cover;
      object-position: center bottom;
      width: auto;
    }
  }

  header h4 {
    display: flex;
    flex-direction: column;
    position: relative;

    /* prettier-ignore */
    & > span { display: none; }

    @include layout.six-column {
      padding-left: calc(var(--layout-column) + var(--layout-gap));
    }

    a:first-of-type {
      @include fonts.sans;
      @include rhythm.font-size(-1, $line-height: 5);
      align-self: start;

      &:link,
      &:visited {
        @include media.dark(color, palette.stone($lightness: 8%), palette.stone($lightness: 88%));
        // @include colors.modes(stone 800, stone 200);
        // @include colors.modes(stone 400, stone 700, text-decoration-color);
        text-decoration-color: transparent;
      }

      &:link:hover {
        // @include colors.modes(blue 700, blue 400);
        // @include colors.modes(blue 400, blue 700, text-decoration-color);
      }

      &:visited:hover {
        // @include colors.modes(purple 700, purple 400);
        // @include colors.modes(blue 500, purple 700, text-decoration-color);
      }

      &:active,
      &:active:hover {
        // @include colors.modes(red 700, red 500);
        // @include colors.modes(red 500, red 700, text-decoration-color);
      }
    }

    a:last-of-type {
      @include media.dark(background-color, palette.stone($lightness: 88%), palette.stone($lightness: 24%));
      border-radius: 100%;
      height: 0;
      overflow: hidden;
      padding-top: #{rhythm.fragments(4)};
      position: absolute;
      transform: translate(calc((var(--layout-gap) * -1) - 50%), -50%);
      width: #{rhythm.fragments(4)};
      z-index: 999;

      &::before {
        @include media.dark(background-color, palette.stone($lightness: 88%), palette.stone($lightness: 74%));
        @include icon.mask(rhythm.fragments(2), '/images/fa/solid/comment.svg');
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(-0.5px);
        width: 100%;
      }

      &[href*='twitter.com']::before {
        @include icon.mask-image('/images/fa/brands/twitter.svg');
        transform: none;
      }
    }

    time {
      @include media.dark(color, palette.stone($lightness: 28%), palette.stone($lightness: 68%));
      @include fonts.mono;
      @include rhythm.font-size(-2, $line-height: 5);
      font-weight: 500;

      & > span {
        position: relative;
        visibility: hidden;

        &::after {
          // @include colors.modes(stone 400, stone 500);
          @include rhythm.line-height(4);
          content: '-';
          display: inline-block;
          font-weight: 400;
          left: 0.25em;
          position: absolute;
          top: -0.125em;
          visibility: visible;
        }
      }
    }
  }

  blockquote {
    max-width: 72ch;

    @include layout.two-column {
      padding-left: calc(#{rhythm.fragments(10)} +var(--layout-gap));
    }

    @include layout.six-column {
      padding-left: calc(var(--layout-column) + var(--layout-gap));
    }

    p {
      @include fonts.serif;
      @include rhythm.font-size(0);
      font-weight: 300;
    }
  }
}
