@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/icon";
@use "../utils/layout";
@use "../utils/media";
@use "../utils/rhythm";

//
// Essay response form
// -----------------------------------------------------------------------------------------------

main > article > div:last-of-type > div > aside:nth-child(3) {
  @include media.dark(background-color, palette.stone($lightness: 96%), palette.stone($lightness: 6%));
  @include media.dark(border-color, palette.stone($lightness: 82%), palette.stone($lightness: 12%));
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  grid-area: form;
  margin-bottom: -1px;
  margin-top: -1px;
  padding: #{rhythm.lines(1)};
}

//
// Description copy
// -----------------------------------------------------------------------------------------------

main > article > div:last-of-type > div > aside:nth-child(3) > p {
  @include media.dark(color, palette.stone($lightness: 24%), palette.stone($lightness: 88%));
  @include fonts.sans;
  @include rhythm.font-size(-1);
  font-weight: 500;
  max-width: 72ch;
}

//
// Submission form
// -----------------------------------------------------------------------------------------------

main > article > div:last-of-type > div > aside:nth-child(3) form {
  margin-bottom: -1px;
  margin-top: -1px;
  padding-top: #{rhythm.fragments(2)};

  p {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    @include fonts.sans;
    @include media.dark(color, palette.stone($lightness: 32%), palette.stone($lightness: 72%));
    @include rhythm.font-size(-2);
    flex-basis: 100%;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-transform: uppercase;
  }

  input {
    @include fonts.mono;
    @include media.dark(background-color, palette.stone($lightness: 98%), palette.stone($lightness: 10%));
    @include media.dark(border-color, palette.stone($lightness: 62%), palette.stone($lightness: 32%));
    @include media.dark(color, palette.stone($lightness: 8%), palette.stone($lightness: 92%));
    @include rhythm.font-size(-1);
    border-radius: 0.125em 0 0 0.125em;
    border-style: solid;
    border-width: 1px;
    display: block;
    flex-grow: 1;
    outline: 0;
    padding: #{rhythm.fragments(1)};

    &:focus {
      @include media.dark(background-color, palette.stone($lightness: 100%), palette.stone($lightness: 11%));
      @include media.dark(border-color, palette.blue($lightness: 62%), palette.blue($lightness: 32%));
      border-width: 2px;
      padding: calc(#{rhythm.fragments(1)} - 1px);
      box-shadow: inset #{palette.stone($lightness: 88%)} 0 2px 2px;

      @media (prefers-color-scheme: dark) {
        box-shadow: inset #{palette.stone($lightness: 12%)} 0 2px 2px;
      }
    }

    &::placeholder {
      @include media.dark(color, palette.stone($lightness: 62%), palette.stone($lightness: 16%));
    }
  }

  button {
    @include fonts.sans;
    @include media.dark(background-color, palette.stone($lightness: 20%), palette.stone($lightness: 32%));
    @include media.dark(border-color, palette.stone($lightness: 20%), palette.stone($lightness: 32%));
    @include media.dark(color, palette.stone($lightness: 80%), palette.stone($lightness: 80%));
    @include rhythm.font-size(-2);
    border-radius: 0 0.125em 0.125em 0;
    border-style: solid;
    border-width: 1px;
    font-weight: 850;
    letter-spacing: 0.25em;
    outline: 0;
    padding: #{rhythm.fragments(1)} #{rhythm.fragments(6)};
    text-transform: uppercase;

    &:focus {
      @include media.dark(border-color, palette.blue($lightness: 62%), palette.blue($lightness: 16%));
      border-width: 2px;
      padding: calc(#{rhythm.fragments(1)} - 1px) calc(#{rhythm.fragments(6)} - 1px);
    }
  }
}
