@use "../../../../../assets/css/palette";

@use "../utils/fonts";
@use "../utils/layout";
@use "../utils/media";
@use "../utils/rhythm";

//
// Common styles
// -----------------------------------------------------------------------------------------------

@import url('/assets/common/intro.css');

//
// Essays index container
// -----------------------------------------------------------------------------------------------

main > div {
  @include layout.center;
  @include layout.gutters;
  @include layout.grid;
  --padding: #{rhythm.lines(4)};
  grid-template-areas:
    'intro'
    'featured'
    'secondary';
  padding-bottom: var(--padding);
  row-gap: var(--layout-gap);

  @include layout.two-column {
    grid-template-areas:
      'intro intro'
      'featured featured'
      'secondary secondary';
  }

  @include layout.three-column {
    grid-template-areas:
      'intro intro intro'
      'featured featured featured'
      'secondary secondary secondary';
  }

  @include layout.four-column {
    grid-template-areas:
      'intro intro intro intro'
      'featured featured featured featured'
      'secondary secondary secondary secondary';
  }

  @include layout.five-column {
    grid-template-areas:
      'intro intro intro intro intro'
      'featured featured featured featured featured'
      'secondary secondary secondary secondary secondary';
  }

  @include layout.six-column {
    grid-template-areas:
      'intro intro featured featured featured featured'
      'secondary secondary secondary secondary secondary secondary';
  }

  @include layout.eight-column {
    grid-template-areas:
      'intro intro intro featured featured featured featured featured'
      'secondary secondary secondary secondary secondary secondary secondary secondary';
  }

  @include layout.twelve-column {
    grid-template-areas: 'intro intro intro featured featured featured featured featured featured secondary secondary secondary';
  }

  @include layout.sixteen-column {
    grid-template-areas: 'intro intro intro . featured featured featured featured featured featured featured . secondary secondary secondary secondary';
  }
}

//
// Intro blurb
// -----------------------------------------------------------------------------------------------

main > div > header {
  grid-area: intro;
}

//
// Featured article
// -----------------------------------------------------------------------------------------------

main > div > article:first-of-type {
  grid-area: featured;

  figure {
    padding-bottom: #{rhythm.lines(1)};
  }

  h3 {
    @include fonts.serif;
    @include rhythm.font-size(3, $line-height: 7);
    font-weight: 300;
    padding-bottom: #{rhythm.fragments(1)};

    a {
      @include media.dark(color, palette.stone($lightness: 22%), palette.stone($lightness: 80%));
      text-decoration: none;

      &:hover {
        @include media.dark(color, palette.stone($lightness: 40%), palette.stone($lightness: 68%));
      }
    }
  }

  img {
    border: 0;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    width: 100%;
  }

  a:hover img {
    opacity: 0.8;
  }

  p {
    @include fonts.serif;
    @include media.dark(color, palette.stone($lightness: 36%), palette.stone($lightness: 72%));
    @include rhythm.font-size(0);
    font-weight: 300;
  }

  picture {
    display: block;
    border-radius: 0.125em;
    max-height: #{rhythm.lines(14)};
    overflow: hidden;
  }

  aside {
    padding-top: #{rhythm.fragments(4)};

    p {
      @include media.dark(color, palette.stone($lightness: 22%), palette.stone($lightness: 80%));
      @include fonts.sans;
      @include rhythm.font-size(-2);
      font-weight: 500;
      letter-spacing: 0.125em;
      text-transform: uppercase;

      a {
        @include media.dark(color, palette.stone($lightness: 22%), palette.stone($lightness: 80%));
        font-weight: 800;
        text-decoration: none;

        &:hover {
          @include media.dark(--color, palette.yellow($lightness: 42%), palette.yellow($lightness: 60%));
        }
      }

      /* prettier-ignore */
      & > span { display: none; }

      time {
        &::before {
          @include media.dark(color, palette.stone($lightness: 48%), palette.stone($lightness: 60%));
          content: '|';
          font-weight: 500;
          margin-left: #{rhythm.fragments(1, -2)};
          margin-right: #{rhythm.fragments(1, -2)};
        }

        span {
          font-variant: small-caps;
          text-transform: none;
        }
      }
    }
  }
}

//
// Secondarily featured articles
// -----------------------------------------------------------------------------------------------

main > div > section {
  column-gap: #{rhythm.lines(1)};
  display: flex;
  flex-wrap: wrap;
  grid-area: secondary;
  row-gap: #{rhythm.lines(2)};

  @include layout.four-column {
    position: relative;

    &::before {
      // @include colors.modes(stone 300, stone 700, background-color);
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(calc(#{rhythm.fragments(8) * -1} - 1px));
      width: 100%;
    }
  }

  @include layout.twelve-column {
    flex-direction: column;
    flex-wrap: nowrap;

    &::before {
      height: 0px;
    }
  }

  @include layout.sixteen-column {
    position: relative;

    &::before {
      @include media.dark(background-color, palette.stone($lightness: 79%), palette.stone($lightness: 18%));
      content: '';
      height: 100%;
      transform: translateX(calc(#{rhythm.fragments(10) * -1} - 1px));
      width: 1px;
    }
  }
}

main > div > section > article {
  display: grid;
  flex-basis: 100%;
  gap: #{rhythm.fragments(2)};
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(max-content, auto) minmax(min-content, auto);

  @include layout.four-column {
    flex-basis: calc(50% - #{rhythm.fragments(2)});
  }

  @include layout.twelve-column {
    position: relative;

    &:not(:first-of-type)::before {
      @include media.dark(background-color, palette.stone($lightness: 79%), palette.stone($lightness: 18%));
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(calc(#{rhythm.fragments(4) * -1} - 1px));
      width: 100%;
    }
  }

  figure {
    align-self: start;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  }

  h3 {
    @include fonts.serif;
    @include rhythm.font-size(1, $line-height: 5);
    font-weight: 300;
    grid-row: 1 / span 1;

    a {
      @include media.dark(color, palette.stone($lightness: 22%), palette.stone($lightness: 80%));
      text-decoration: none;

      &:hover {
        @include media.dark(color, palette.stone($lightness: 40%), palette.stone($lightness: 68%));
      }
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  a:hover img {
    opacity: 0.8;
  }

  picture {
    display: block;
    border-radius: 0.125em;
    height: #{rhythm.lines(4)};
    overflow: hidden;
    width: #{rhythm.lines(4)};
  }

  aside {
    grid-row: 2 / span 1;

    p {
      @include fonts.sans;
      @include rhythm.font-size(-2);

      font-weight: 500;
      letter-spacing: 0.125em;
      text-transform: uppercase;

      a {
        @include media.dark(color, palette.stone($lightness: 22%), palette.stone($lightness: 80%));
        font-weight: 800;
        text-decoration: none;

        &:hover {
          @include media.dark(--color, palette.yellow($lightness: 42%), palette.yellow($lightness: 60%));
        }
      }

      /* prettier-ignore */
      & > span { display: none; }
    }
  }
}
