<aside class="location_map">
  <svg role="img" viewBox="0 0 384 168">  
    <use href="/g/map.svg?height=168&width=384#map"/>
    <use href={"/g/points.svg?locations[primary][]=#{geohash @entry.coords}&height=168&width=384#points"}/>
  </svg>
</aside>