<figure>
  <p><a href="https://thepan-handler.com/griswold-cast-iron/" rel="external noopener">https://thepan-handler.com/griswold-cast-iron/</a></p>
  <figcaption><p>This Airbnb that I booked is perfect for solo exploration during my first trip to Paris.</p></figcaption>
</figure>
