<figure>
  <picture>
    <source sizes="1124px" srcset="https://f000.backblazeb2.com/file/jeremyboles-com/topic_journal@800w.jpg 800w, https://f000.backblazeb2.com/file/jeremyboles-com/topic_journal@400w.jpg 400w" type="image/jpeg">
    <img alt="Mansard rooftops in Paris, France" class="u-photo" loading="lazy" src="https://f000.backblazeb2.com/file/jeremyboles-com/topic_journal@400w.jpg">
  </picture>
  <figcaption class="e-content p-name">
    <p>The view from my the window outside of my apartment in&nbsp;Paris.</p>
  </figcaption>
</figure>
