<figure>
  <blockquote>Travel changes you. As you move through this life and this world you change things slightly, you leave marks behind, however small. And in return, life—and travel—leaves marks on&nbsp;you.</blockquote>
  <figcaption>Anthony Bourdain, <cite>The Nasty Bits</cite></figcaption>
</figure>
