<article class={@entry.kind}>
  <.entry_detail entry={@entry} />
  <%= render "_location_map.html", entry: @entry %>
  <%= render "_metadata.html", entry: @entry, topic: @topic %>
  <!-- <.responses /> -->
</article>
