@use "prosemirror.css";

@use "../../../../../assets/css/palette";

:host {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

::selection {
  --background-color: #{palette.blue($lightness: 82%)};
  --color: #{palette.stone($lightness: 18%)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{palette.yellow($lightness: 42%)};
    --color: #{palette.stone($lightness: 92%)};
  }

  background-color: var(--background-color);
  border-radius: 2px;
  color: var(--color);
}

.ProseMirror {
  --caret-color: #{palette.blue()};
  --color: #{palette.stone($lightness: 18%)};

  @media (prefers-color-scheme: dark) {
    --caret-color: #{palette.amber()};
    --color: #{palette.stone($lightness: 92%)};
  }

  box-sizing: border-box;
  color: var(--color);
  caret-color: var(--caret-color);
  flex-grow: 1;
  font-family: ui-serif, serif;
  font-size: 20px;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  line-height: 1.6;
  max-width: 64ch;
  outline: none;
  padding: 56px 28px;
  text-rendering: optimizelegibility;
  width: 100%;
}

.ProseMirror [data-placeholder]:first-of-type {
  // @include colors.modes(stone 400, stone 700, caret-color);
}

.ProseMirror [data-placeholder]:first-of-type::before {
  // @include colors.modes(stone 400, stone 700);

  content: attr(data-placeholder);
  pointer-events: none;
  position: absolute;
}
