<article>
  <div>
    <.section_header title="All Over the Place">
      Nearly anytime I put something on my website, a location is attached. On this page, you can wander through my website by “where” (or, occasionally, <i>about</i> where). Also, the map looks&nbsp;neat.
    </.section_header>
  </div>
  
  <figure>
    <.map height="736" locations={@locations} width="1680" />
    
    <figcaption>
      <.locations />
    </figcaption>
  </figure>
</article>