// -----------------------------------------------------------------------------------------------
//
// Wiki Section Layout Styles
//
// -----------------------------------------------------------------------------------------------

@use "../../../../../../../assets/css/palette";

@use "../../utils/media";

//
// Phone layout
// -----------------------------------------------------------------------------------------------

@include media.ipad(max) {
  section.wiki .section_header:has(.save_button > input[type="checkbox"]:checked) .public_toggle {
    display: flex;
  }
}

@include media.ipad(max) {
  section.wiki .section_header:has(.save_button > input[type="checkbox"]:checked) {
    &::after {
      background-image: linear-gradient(#{palette.stone($lightness: 2%, $alpha: 0.8)}, #{palette.stone($lightness: 8%, $alpha: 0.7)});
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 48px;
    }
  }
}

//
// Section header
// -----------------------------------------------------------------------------------------------

section.wiki .section_header {
  @include media.mouse {
    padding-inline-start: calc(264px + 12px);
  }
}
