// -----------------------------------------------------------------------------------------------
//
// Utility Classes for One-Off Things
//
// -----------------------------------------------------------------------------------------------

//
// Visually hide an element but make it still available to screen readers
// -----------------------------------------------------------------------------------------------

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
